{% extends 'base.html' %}
{% block title %}レシピ画像アップロード{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recipe_images.css') }}">
    <h1 class="txt-center">レシピ画像をアップロード</h1>
    <div class="form-container">
        <form action="/ninnsiki/upload_recipe" method="POST" enctype="multipart/form_data">
            <input type="text" name="label" placeholder="料理名を入力" class="recipe-form" required>
            <input type="file" name="image" accept="image/*" required>
            <button type="submit">アップロード</button>
        </form>
    </div>
    <button id="back-button" onclick="location.href='{{ url_for('recipe_delete') }}';" class="">レシピ削除</button>
    <button id="look-button" onclick="location.href='{{ url_for('recipe_look') }}';">現在のレシピ一覧を見る</button>
    <div class="back-button-container">
        <button id="back-button" onclick="location.href='{{ url_for('mainmenu') }}';" class="back-button">戻る</button>
    </div>
{% endblock %}
