<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    </head>
    <body background="{{ url_for('static', filename='img/background.png') }}" class="kabegami">
        <div class="container">
            <img src="{{ url_for('static', filename='img/opningLOGO.png') }}" class="title">
        </div>
        <br>
        <div class="image-container">
            <img src="{{ url_for('static', filename='img/frireverse.png') }}" alt="フライ返し" class="fryreverse">
            <div class="start-link-container">
                <a href="{{ url_for('login') }}" class="start_link">
                    <img src="{{ url_for('static', filename='img/bacon.png') }}" alt="スタートボタン">
                    <span class="start-text">スタート！</span>
                </a>
            </div>
            <img src="{{ url_for('static', filename='img/fripan.png') }}" alt="フライパン" class="fripan">
        </div>
    </body>
</html>
