<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>index</title>
</head>
<body background="../static/img/background.png" class="kabegami">
    <div class="container">
        <img src="../static/img/opningLOGO.png" class="title">
    </div>
    <br>
    <div class="image-container">
        <img src="../static/img/frireverse.png" alt="フライ返し" class="fryreverse">
        <div class="start-link-container">
            <a href="{{ url_for('login') }}" class="start_link"> <!-- ログインページへのリンクを修正 -->
                <img src="../static/img/bacon.png" alt="スタートボタン">
                <span class="start-text">スタート！</span>
            </a>
        </div>
        <img src="../static/img/fripan.png" alt="フライパン" class="fripan">
    </div>
</body>
</html>
