{% extends 'base.html' %}

{% block title %}投稿フォーム{% endblock %}

{% block content %}
    <link rel="stylesheet" href="styles.css">
    <br>
    <h1 class="txt-center">投稿フォーム</h1>
    <form id="postForm" action="{{ url_for('save_gohan_post') }}" method="post" enctype="multipart/form-data">
        <textarea name="sentence" placeholder="テキストを入力" rows="4" class="post_txtbox"></textarea>
        <br>
        <input type="file" name="photo" id="imageUpload" accept="image/*">
        <img id="imagePreview" class="image-preview" style="display:none;" alt="Image preview">
        <button type="submit">投稿</button>
    </form>
    <div class="fixed-buttons">
    <button onclick="location.href='{{ url_for('area_gohan') }}';" class="">戻る</button>
    </div>

{% endblock %}
