{% extends 'base.html' %}

{% block title %}投稿フォーム{% endblock %}

{% block content %}
<div class="main-contents">
    <p class="main-text">投稿フォーム</p>
    <form id="postForm" action="{{ url_for('save_gohan_post') }}" method="post" enctype="multipart/form-data">
        <div class="textarea-container">
            <textarea name="sentence" placeholder="テキストを入力...(100字以内)" rows="4" class="post-txtbox"></textarea>
        </div>
        <input type="file" name="photo" id="imageUpload" accept="image/*" class="select-img" 
               onchange="document.getElementById('fileName').textContent = this.files[0] ? this.files[0].name : ''; document.getElementById('imageErrorMessage').style.display = 'none';">
        <label for="imageUpload" class="select-post-img">画像を選択</label>
        <span id="imageErrorMessage" class="post-error-message">画像が未選択です。</span>
        <span id="fileName" class="file-name"></span>
        <img id="imagePreview" class="image-preview" style="display:none;" alt="Image-preview">
        <span id="txtErrorMessage" class="txterror-message" style="display:none; color: red;">投稿文は100文字以内にしてください。</span>
        <button type="submit" class="post-button">投稿</button>
    </form>
    <div class="back-button-container">
        <button onclick="location.href='{{ url_for('area_gohan') }}';">戻る</button>
    </div>
    <script>
        function validateForm(event) {
            const textArea = document.querySelector('textarea[name="sentence"]');
            const imageUpload = document.getElementById('imageUpload');
            const imageErrorMessage = document.getElementById('imageErrorMessage');
            const txtErrorMessage = document.getElementById('txtErrorMessage');
            imageErrorMessage.style.display = 'none';
            txtErrorMessage.style.display = 'none'; // エラーメッセージを隠す
            let valid = true;
            if (textArea.value.trim() === '') {
                textArea.placeholder = '未入力のままでは投稿ができません、この欄にテキストを入力してください';
                valid = false;
            } else {
                textArea.placeholder = 'テキストを入力';
            }
            if (textArea.value.length > 100) {
                txtErrorMessage.style.display = 'inline'; // エラーメッセージを表示
                valid = false;
            }
            if (imageUpload.files.length === 0) {
                imageErrorMessage.style.display = 'inline';
                valid = false;
            } else {
                imageErrorMessage.style.display = 'none';
            }
            if (!valid) {
                event.preventDefault(); // フォームの送信を防ぐ
            }
        }
        window.onload = function () {
            document.getElementById('postForm').addEventListener('submit', validateForm);
        };
    </script>
</div>
{% endblock %}
