.container {
    align-items: center; /* 縦方向の中央揃え */
    height: 100%; /* コンテナの高さを100%に設定 */
}

.kabegami {
    background-size: cover;
}

.title {
    justify-content: center; /* 水平方向に中央配置 */
    max-width: 30%; /* 画像の最大幅を65%に設定 */
    height: auto; /* 高さを自動に設定してアスペクト比を保持 */
    margin-top: -50px; /* 上にずらすためのマージンを設定（値は調整可） */
    margin-left: 205px; 
}

.login-image{
    height: 120px;
    width: 120px;
    float: right;
    position: absolute;
    margin-left: 1100px;
}

.login-name {
    float: right;
    margin-top: 100px;
}

/* ----------アレルギー登録云々---------- */
.button-container {
    display: flex;
    flex-direction: column;
    width: 920px; /* コンテナの幅を更新 */
    text-align: center; /* 中央揃え */
    margin: 0 auto; /* コンテナを中央に配置 */
}

.button-container button {
    width: 700px; /* ボタンの幅を設定 */
    height:70px;
    margin:0px 30px 30px 100px; /* ボタンの間にスペースを追加 */
    font-size: 22px;
    border-radius: 5px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに変更 */
}

.allergy-button {
    background-color: #f0ff8c;
    border: 3px solid #ffd700;
}

.chanpsw-button {
    border: 3px solid #696969;
}

.allergy-l ul{
    width:auto;
    text-align: center;
}

.allergy-l li {
    font-size: 20px;
    list-style: none;
    align-items:center;
    display: inline;
    text-align: center;
}


/* ----------垢削除と戻る---------- */
.button-sel {
    display: flex;
    text-align: center;
    margin: 0 auto;
    width: 800px;
    height: 50px;
    clear: left;
}

.acctdel-button {
    margin-left: 440px;
    width: 160px;
    font-size: 18px;
    color: white;
    background-color:red;
    border-radius: 5px;
    border: solid #000;
    cursor: pointer;
}



/* ----------アレルギー登録---------- */
.ale {
    text-align: center;
    font-size: 24px;
}

.chkbox {
    text-align: center;
    font-size:20px;
    accent-color: rgb(34, 171, 34);
}

input {
    margin-left: 30px;
}

.under-cls {
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

.tmg-friends {
    position: absolute;
    height: 300px;
    width: 350px;
    float: right;
    margin-left: 350px;
}

.subbutton {
    width: 120px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    background-color: #ffb6cb;
    border: 3px solid #db7093;
    border-radius: 5px;
}

.bkb {
    margin-top: 100px;
    margin-left: 50px;
}

.allergy-p {
    text-align: center;
    font-size: 20px;
}

.menu-button {
    width: 120px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    background-color: skyblue;
    border: 3px solid #44acce;
    border-radius: 5px;
}

/*   あれるぎーちぇっくぼくす */

.chkbox input[type="checkbox"] {
    width: 20px;  /* チェックボックスの幅 */
    height: 20px; /* チェックボックスの高さ */
    transform: scale(1.5); /* チェックボックスを拡大 */
    margin-right: 10px; /* ラベルとの間にスペースを追加 */
}

.chkbox {
    font-size: 25px; /* ラベルの文字サイズ */
}
