body {
    height: 100%; /* 高さを100%に設定 */
    overflow: hidden; /* スクロールを無効にする */
}

.kabegami {
    background-size: cover;
}

#input1 {
    display: block;
    margin: auto;
    width: 200px;
}

.my-textbox {
    width: 500px;  /* 幅を300ピクセルに設定 */
    height: 40px;  /* 高さを40ピクセルに設定 */
    padding: 10px; /* 内側の余白を10ピクセルに設定 */
    font-size: 16px; /* フォントサイズを16ピクセルに設定 */
    border: 1px solid #ccc; /* 枠線を設定 */
    border-radius: 5px; /* 角を丸くする */
}

.container {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
    padding-right: 10px;
    margin-top: -85px;
    margin-right: 40px;
}

.title {
    max-width: 30%; /* 画像の最大幅を65%に設定 */
    height: auto; /* 高さを自動に設定してアスペクト比を保持 */
    margin-top: -50px; /* 上にずらすためのマージンを設定（値は調整可） */
    margin-left: 205px; 
}

.login-form{
    display: flex; /* フレックスボックスを使用 */
    flex-direction: column; /* 縦に並べる */
    align-items: center; /* 中央揃え */
    justify-content: center; /* 縦方向も中央揃え（高さがある場合） */
}

.login-button {
    background-color: #749DFC; /* 水色の背景色 */
    color: black; /* テキストの色を黒に設定 */
    padding: 10px 30px; /* 上下の余白を15px、左右を30pxに設定 */
    font-size: 18px; /* フォントサイズを18pxに設定 */
    border: none; /* 枠線をなしに設定 */
    border-radius: 5px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに変更 */
    transition: background-color 0.3s; /* ホバー時の色変更を滑らかにする */
}

.login-button:hover {
    background-color: #009acd; /* ホバー時の水色を少し暗くする */
}

.back-button {
    position: fixed; /* 固定位置にする */
    bottom: 30px; /* 上から20px */
    left: 30px; /* 左から20px */
    background-color: transparent; /* 透明の背景色 */
    color: black; /* テキストの色を黒に設定 */
    padding: 9px 30px; /* 上下の余白を15px、左右を30pxに設定 */
    font-size: 18px; /* フォントサイズを18pxに設定 */
    border: 2px solid black ; /* 枠線を黒に設定 */
    border-radius: 5px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに変更 */
    transition: background-color 0.3s; /* ホバー時の色変更を滑らかにする */
}

.back-button:hover {
    background-color: #efe8d2; /* ホバー時の水色を少し暗くする */
}

.txt-center{
    margin-top:40px;
    text-align : center;
}

.button-container {
    display: flex;
    flex-direction: column; /* 縦に並べる */
    align-items: center; /* 中央揃え */
    margin-top: 20px; /* 上部のマージンを追加 */
}

.button-container button {
    width: 400px; /* ボタンの幅を設定 */
    height:80px;
    margin:0px 0px 0px 0px; /* ボタンの間にスペースを追加 */
    border: none; /* 枠線をなしに設定 */
    color: black;
    font-size: 22px;
    border-radius: 5px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに変更 */
    transition: background-color 0.3s; /* ホバー時の色変更を滑らかにする */
}

.upload_choose{
    background-color: skyblue;
}

.upload_do{
    background-color: skyblue;
}

.upload_do:hover {
    background-color: #0056b3; /* ホバー時の背景色 */
}

.upload-button {
    background-color: skyblue;
    display: flex;
    flex-wrap: wrap; /* ボタンを折り返し可能にする */
    width: 920px; /* コンテナの幅を更新 */
    align-items: center;
    justify-content: center; /* 中央揃え */
    margin: auto; /* コンテナを中央に配置 */
    width: 400px; /* ボタンの幅を設定 */
    height:80px;
    margin:0px 0px 10px 0px; /* ボタンの間にスペースを追加 */
    border: none; /* 枠線をなしに設定 */
    color: black;
    font-size: 22px;
    border-radius: 5px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに変更 */
    transition: background-color 0.3s; /* ホバー時の色変更を滑らかにする */
}

.upload-button:hover {
    background-color: #0056b3; /* ホバー時の背景色 */
}

#selected-image { /* 画像の最大サイズを制限　「縛り」 */
    display: none; /* 初期状態で非表示 */
    max-width: 150px; /* 幅を400pxに制限 */
    max-height: 150px; /* 高さを300pxに制限 */
    width: auto; /* 幅の自動調整 */
    height: auto; /* 高さの自動調整 */
    margin: 10px 0; /* 上下のマージンを設定 */
    overflow: hidden; /* はみ出す部分を隠す */
}

header {
    display: flex; /* フレックスボックスを使用して横並びにする */
    align-items: center; /* 垂直方向に中央揃え */
    background-color: rgb(230,230,250,0.5);
}

.header_logo {
    width: 200px; /* 画像の幅を設定 */
    margin-left: 20px;
    margin-right: 20px; /* 画像とリストの間にスペースを追加 */
}

.navi {
    list-style: none; /* リストのドットを削除 */
    padding: 0; /* パディングを削除 */
    margin: 0; /* マージンを削除 */
    display: flex; /* リスト項目を横並びにする */
}

.navi_li {
    margin-right: 15px; /* リスト項目の間にスペースを追加 */
}



.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  