body {
    height: 100%; /* 高さを100%に設定 */
    overflow: hidden; /* スクロールを無効にする */
}

.kabegami {
    background-size: cover;
}

.container {
    align-items: center; /* 縦方向の中央揃え */
    height: 100%; /* コンテナの高さを100%に設定 */
}


.title {
    padding-left: 450px;
    max-width: 30%; 
    height: auto; 
    margin-top: -50px; 
}

.login-image{
    height: 120px;
    width: 120px;
    float: right;
    position: absolute;
    margin-left: 1100px;
}

.login-name {
    float: right;
    margin-top: 100px;
}

.p-p {
    text-align: center;
    font-size: 20px;
}

.login-form{
    display: flex; /* フレックスボックスを使用 */
    flex-direction: column; /* 縦に並べる */
    align-items: center; /* 中央揃え */
    justify-content: center; /* 縦方向も中央揃え（高さがある場合） */
}

.login-form input {
    width: 450px;
    height: 40px;
    margin-bottom: 20px;
}

.login-form button {
    width: 120px;
    height: 50px;
    font-size: 18px;
    background-color: orange;
    border-radius: 5px;
    border: none;
    color:white;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #f58208;; /* ホバー時の水色を少し暗くする */
}

.button-sel {
    display: flex;
    text-align: center;
    margin: 0 auto;
    width: 800px;
    height: 50px;
}

.back-button {
    text-align: left;
    background-color: transparent; /* 透明の背景色 */
    color: black; /* テキストの色を黒に設定 */
    padding: 9px 30px; /* 上下の余白を15px、左右を30pxに設定 */
    font-size: 18px; /* フォントサイズを18pxに設定 */
    border: 2px solid black ; /* 枠線を黒に設定 */
    border-radius: 5px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに変更 */
    transition: background-color 0.3s; /* ホバー時の色変更を滑らかにする */
}

.menu-button {
    width: 120px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    margin-top: 400px;
    margin: 0 auto;
    background-color:orange;
    color:white;
    border:none;
    border-radius: 5px;
}

.back-button-container {
    position: fixed; /* 視覚的に固定 */
    bottom: 20px; /* 下から0px */
    left: 20px; /* 左から0px */
}

.back-button-container button {
    width: 100px; /* ボタンの幅 */
    height: 100px; /* ボタンの高さ */
    border-radius: 50%; /* 円形にする */
    border: none; /* ボーダーを消す */
    background-color: #007BFF; /* ボタンの背景色 */
    color: white; /* テキストの色 */
    font-size: 16px; /* フォントサイズ */
    display: flex; /* フレックスボックスを使用 */
    justify-content: center; /* 横方向の中央揃え */
    align-items: center; /* 縦方向の中央揃え */
    cursor: pointer; /* カーソルをポインターにする */
    transition: background-color 0.3s; /* ホバー時のスムーズな変化 */
}

.back-button-container button:hover {
    background-color: #0056b3; /* ホバー時の背景色 */
}

.acct-del-button {
    display: flex;
    flex-wrap: wrap; /* ボタンを折り返し可能にする */
    width: 920px; /* コンテナの幅を更新 */
    justify-content: center; /* 中央揃え */
    margin: auto; /* コンテナを中央に配置 */
    padding-top: 90px;
}

.acct-del-button button {
    width: 200px; /* ボタンの幅を設定 */
    height:80px;
    margin:0px 30px 30px 30px; /* ボタンの間にスペースを追加 */
    border-style: solid;
    border-color:red; /* 枠線をなしに設定 */
    background-color: #ff6161;
    color: white;
    font-size: 22px;
    border-radius: 65px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに変更 */
    transition: background-color 0.3s; /* ホバー時の色変更を滑らかにする */
}