header {
    display: flex; /* フレックスボックスを使用して横並びにする */
    align-items: center; /* 垂直方向に中央揃え */
    background-color: rgb(230,230,250,0.5);
}

.header_logo {
    width: 200px; /* 画像の幅を設定 */
    margin-left: 20px;
    margin-right: 20px; /* 画像とリストの間にスペースを追加 */
}

.navi {
    list-style: none; /* リストのドットを削除 */
    padding: 0; /* パディングを削除 */
    margin: 0; /* マージンを削除 */
    display: flex; /* リスト項目を横並びにする */
}

.navi_li {
    margin-right: 15px; /* リスト項目の間にスペースを追加 */
}



.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
    padding-right: 10px;
    margin-top: -85px;
    margin-right: 40px;
}