body {
    height: 100%; /* 高さを100%に設定 */
    overflow: hidden; /* スクロールを無効にする */
}

.kabegami {
    background-size: cover;
}

#input1 {
    display: block;
    margin: auto;
    width: 200px;
}

.my-textbox {
    width: 500px;  /* 幅を300ピクセルに設定 */
    height: 40px;  /* 高さを40ピクセルに設定 */
    padding: 10px; /* 内側の余白を10ピクセルに設定 */
    font-size: 16px; /* フォントサイズを16ピクセルに設定 */
    border: 1px solid #ccc; /* 枠線を設定 */
    border-radius: 5px; /* 角を丸くする */
}

.container {
    display: flex; /* フレックスボックスを使用 */
    justify-content: center; /* 横方向の中央揃え */
    align-items: center; /* 縦方向の中央揃え */
    height: 100%; /* コンテナの高さを100%に設定 */
}

.title {
    max-width: 30%; /* 画像の最大幅を65%に設定 */
    height: auto; /* 高さを自動に設定してアスペクト比を保持 */
    margin-top: -50px; /* 上にずらすためのマージンを設定（値は調整可） */
}

.signup-form{
    display: flex; /* フレックスボックスを使用 */
    flex-direction: column; /* 縦に並べる */
    align-items: center; /* 中央揃え */
    justify-content: center; /* 縦方向も中央揃え（高さがある場合） */
}

.signup-button {
    background-color: #749DFC; /* 水色の背景色 */
    color: black; /* テキストの色を黒に設定 */
    padding: 10px 30px; /* 上下の余白を15px、左右を30pxに設定 */
    font-size: 18px; /* フォントサイズを18pxに設定 */
    border: none; /* 枠線をなしに設定 */
    border-radius: 5px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに変更 */
    transition: background-color 0.3s; /* ホバー時の色変更を滑らかにする */
}

.signup-button:hover {
    background-color: #009acd; /* ホバー時の水色を少し暗くする */
}

.back-button {
    position: fixed; /* 固定位置にする */
    bottom: 30px; /* 上から20px */
    left: 30px; /* 左から20px */
    background-color: transparent; /* 透明の背景色 */
    color: black; /* テキストの色を黒に設定 */
    padding: 9px 30px; /* 上下の余白を15px、左右を30pxに設定 */
    font-size: 18px; /* フォントサイズを18pxに設定 */
    border: 2px solid black ; /* 枠線を黒に設定 */
    border-radius: 5px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに変更 */
    transition: background-color 0.3s; /* ホバー時の色変更を滑らかにする */
}

.back-button:hover {
    background-color: #efe8d2; /* ホバー時の水色を少し暗くする */
}

.txt-center{
    text-align : center;
}