html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%; /* 高さを100%に設定 */
  }

.kabegami {
    background-size: cover;
}


.title {
    justify-content: center; /* 水平方向に中央配置 */
    max-width: 30%; /* 画像の最大幅を65%に設定 */
    height: auto; /* 高さを自動に設定してアスペクト比を保持 */
    margin-top: -50px; /* 上にずらすためのマージンを設定（値は調整可） */
    margin-left: 205px; 
}

.image-container {
    display: flex; /* フレックスボックスを使用 */
    justify-content: center; /* 横方向の中央揃え */
    align-items: center; /* 縦方向の中央揃え */
    margin-top: 20px; /* タイトル画像との間にマージンを設定（調整可） */
}

.button-container-mainmenu {
    display: flex;
    flex-wrap: wrap; /* ボタンを折り返し可能にする */
    width: 920px; /* コンテナの幅を更新 */
    justify-content: center; /* 中央揃え */
    margin: auto; /* コンテナを中央に配置 */
}

.button-container-mainmenu button {
    width: 400px; /* ボタンの幅を設定 */
    height:80px;
    margin:0px 30px 30px 30px; /* ボタンの間にスペースを追加 */
    border: none; /* 枠線をなしに設定 */
    color: white;
    font-size: 22px;
    border-radius: 5px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに変更 */
    transition: background-color 0.3s; /* ホバー時の色変更を滑らかにする */
}



.start-link {
    height:0%;
    display: flex; /* フレックスボックスを使用 */
    justify-content: center; /* 横方向の中央揃え */
    align-items: center; /* 縦方向の中央揃え */
}

.start-link img {
    width: 65%; /* 幅を35%に設定（必要に応じて調整） */
    max-width: 100%; /* コンテナの幅を超えないようにする */
    margin-top: -15%; /* 上にずらすためのマージンを設定（値は調整可） */
    display: block; /* 画像の隙間をなくすためにブロック表示 */
}

.fryreverse,
.fripan {
    width: 20%; /* 幅を20%に設定（必要に応じて調整） */
    height: auto; /* 高さは自動でアスペクト比を保持 */
    margin-top: -15%; /* 上にずらすためのマージンを設定（値は調整可） */
    animation: float 2s ease-in-out infinite; /* アニメーションの適用 */
}

@keyframes float {
    0%, 100% {
        transform: translateY(0); /* 初期位置 */
    }
    50% {
        transform: translateY(-10px); /* 上に10px移動 */
    }
}

.start-link-container {
    position: relative; /* 相対位置に設定 */
}

.start-text {
    position: absolute; /* 絶対位置に設定 */
    top: 50%; /* 縦中央揃え */
    left: 50%; /* 横中央揃え */
    transform: translate(-50%, -120%); /* 中心に配置 */
    color: black; /* テキストの色を白に設定 */
    font-size: 30px; /* フォントサイズを設定 */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* 影を追加して視認性を向上 */
}

.start-link {
    color: #fff; /* テキストの色 */
    text-decoration: none; /* 下線を消す */
    animation: glow 1s infinite alternate; /* アニメーションを設定 */
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px #ffcc00, 0 0 10px #ffcc00, 0 0 15px #ffcc00; /* スタートの状態 */
        opacity: 0.7; /* 初めの透明度 */
    }
    100% {
        text-shadow: 0 0 10px #ffcc00, 0 0 20px #ffcc00, 0 0 30px #ffcc00; /* 最後の発光状態 */
        opacity: 1; /* 最後の透明度 */
    }
}

header {
    display: flex; /* フレックスボックスを使用して横並びにする */
    align-items: center; /* 垂直方向に中央揃え */
    background-color: rgb(230,230,250,0.5);
}

.header-logo {
    width: 200px; /* 画像の幅を設定 */
    margin-left: 20px;
    margin-right: 20px; /* 画像とリストの間にスペースを追加 */
}

.navi {
    list-style: none; /* リストのドットを削除 */
    padding: 0; /* パディングを削除 */
    margin: 0; /* マージンを削除 */
    display: flex; /* リスト項目を横並びにする */
}

.navi-li {
    margin-right: 15px; /* リスト項目の間にスペースを追加 */
}



.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#input1 {
    display: block;
    margin: auto;
    width: 200px;
}

.my-textbox {
    width: 500px;  /* 幅を300ピクセルに設定 */
    height: 40px;  /* 高さを40ピクセルに設定 */
    padding: 10px; /* 内側の余白を10ピクセルに設定 */
    font-size: 16px; /* フォントサイズを16ピクセルに設定 */
    border: 1px solid #ccc; /* 枠線を設定 */
    border-radius: 5px; /* 角を丸くする */
}

.container {
    display: flex; /* フレックスボックスを使用 */
    justify-content: right; /* 横方向の中央揃え */
    align-items: center; /* 縦方向の中央揃え */
    height: 100%; /* コンテナの高さを100%に設定 */
    padding-right: 10px;
    margin-top: -85px;  
    margin-right:40px;
}

.login-form{
    display: flex; /* フレックスボックスを使用 */
    flex-direction: column; /* 縦に並べる */
    align-items: center; /* 中央揃え */
    justify-content: center; /* 縦方向も中央揃え（高さがある場合） */
}

.login-button {
    background-color: orange; /* オレンジの背景色 */
    color: white; /* テキストの色を白に設定 */
    padding: 10px 30px; /* 上下の余白を15px、左右を30pxに設定 */
    font-size: 18px; /* フォントサイズを18pxに設定 */
    border: none; /* 枠線をなしに設定 */
    border-radius: 5px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに変更 */
    transition: background-color 0.3s; /* ホバー時の色変更を滑らかにする */
    position: absolute;
    left: center;
    top: 70%;
}

.login-button:hover {
    background-color: #f58208; /* ホバー時の水色を少し暗くする */
}

.back-button-container {
    position: fixed; /* 視覚的に固定 */
    bottom: 20px; /* 下から0px */
    left: 20px; /* 左から0px */
}

.back-button-container button {
    width: 100px; /* ボタンの幅 */
    height: 100px; /* ボタンの高さ */
    border-radius: 50%; /* 円形にする */
    border: none; /* ボーダーを消す */
    background-color: #007BFF; /* ボタンの背景色 */
    color: white; /* テキストの色 */
    font-size: 16px; /* フォントサイズ */
    display: flex; /* フレックスボックスを使用 */
    justify-content: center; /* 横方向の中央揃え */
    align-items: center; /* 縦方向の中央揃え */
    cursor: pointer; /* カーソルをポインターにする */
    transition: background-color 0.3s; /* ホバー時のスムーズな変化 */
}

.back-button-container button:hover {
    background-color: #0056b3; /* ホバー時の背景色 */
}

.LoginSignup-error-message {
    color: red;
    margin-left: 10px;
    text-align:center;
}

.back-button:hover {
    background-color: #efe8d2; /* ホバー時の水色を少し暗くする */
}

.camera-button{
    background-color: orange;
}

.camera-button:hover {
    background-color: #f58208; /* ホバー時の水色を少し暗くする */
}

.sug-button{
    background-color: orange;
}

.sug-button:hover {
    background-color: #f58208; /* ホバー時の水色を少し暗くする */
}

.hiroba-button{
    background-color: orange;
}

.hiroba-button:hover {
    background-color: #f58208; /* ホバー時の水色を少し暗くする */
}

.ac-op-button{
    background-color: orange;
}

.ac-op-button:hover {
    background-color: #f58208; /* ホバー時の水色を少し暗くする */
}


.camera-icon{
    width: 30px; /* 画像の幅を設定 */
    height: 20px; /* 画像の高さを設定 */
    margin-right: 10px; /* 画像とテキストの間にスペースを追加 */
}

.hiroba-icon{
    width: 30px; /* 画像の幅を設定 */
    height: 20px; /* 画像の高さを設定 */
    margin-right: 10px; /* 画像とテキストの間にスペースを追加 */
}

aside {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 20px;
    margin-top: -220px;
}

.Master-only-button{
    width: 170px;
    height: 80px;
    /* margin-top:-220px;
    margin-bottom: 20px; */
    background-color: orange;
    color:white;
    border-radius:5px;
    border-style:none;
    cursor: pointer; /* カーソルをポインターに変更 */
    font-size: 20px;
}

.Master-only-button:hover {
    background-color: #f58208; /* ホバー時の水色を少し暗くする */
}
/* 
.recipe_teach{
    position:fixed;
    padding:20px 55px;
    background-color:pink;
    margin-left: 20px;
    color:white;
    border-radius:5px;
    border-style:none;
    cursor: pointer; 
} */

.memo-container {
    position: fixed; /* 要素を固定 */
    top: 370px; /* 上からの距離を固定 */
    left: 50%; /* 左から50%の位置 */
    transform: translateX(-50%); /* 自身の幅の50%を左に移動して中央揃え */
    padding-top: 10px;
    width: 100%; /* 幅を100%に設定 */
    max-width: 700px; /* 最大幅を700pxに設定 */
    margin: 0; /* マージンを0に設定 */
    display: flex; /* フレックスボックスを使用 */
    align-items: flex-end; /* 下に揃える */
}

#memo {
    width: 100%; /* 幅を100%に設定 */
    height: 120px; /* 高さを300pxに設定 */
    padding: 10px; /* 内側の余白 */
    font-size: 16px; /* フォントサイズ */
    border: 1px solid #ccc; /* 枠線 */
    border-radius: 5px; /* 角を丸くする */
    resize: none; /* リサイズを無効にする */
}


.admin-controls {
    display: flex; /* フレックスボックスを使用 */
    flex-direction: column; /* 縦に並べる */
}

.main-contents {
    padding-top: 70px;
}

  /* photomenu -----------------------------------------------------------------------------------*/

.login-button:hover {
    background-color: #f58208;; /* ホバー時の水色を少し暗くする */
}

.button-container-photo-menu {
    display: flex;
    flex-wrap: wrap; /* ボタンを折り返し可能にする */
    width: 100%; /* コンテナの幅を更新 */
    justify-content: center; /* 中央揃え */
    margin: auto; /* コンテナを中央に配置 */
    flex-direction: column;
}

.button-container-photo-menu button {
    width: 400px; /* ボタンの幅を設定 */
    height:80px;
    margin:0px 30px 30px 30px; /* ボタンの間にスペースを追加 */
    border: none; /* 枠線をなしに設定 */
    color: white;
    background-color: orange;
    font-size: 22px;
    border-radius: 5px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに変更 */
    transition: background-color 0.3s; /* ホバー時の色変更を滑らかにする */
    margin:auto;
    margin-bottom: 60px;
}

.button-container-photo-menu button:hover {
    background-color: #f58208; /* ホバー時の水色を少し暗くする */
}


/* photo_take---------------------------------------------------------------- */


.button-container-photo-take {
    position: relative;
    flex-wrap: wrap; /* ボタンを折り返し可能にする */
    width: 100%; /* コンテナの幅を更新 */
    height: 100%;
}


.capture {
    position: absolute;
    width: 150px;
    height: 50px; 
    top: 370px;
    left: 50%;
    transform: translate(-50%); 
    background-color: orange; /* 赤の背景色 */
    border:1px solid orange;
    color: white; /* テキストの色を白に設定 */
    font-size: 18px; /* フォントサイズを18pxに設定 */
    border-radius: 5px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに変更 */
    transition: background-color 0.3s; /* ホバー時の色変更を滑らかにする */
    z-index: 1000;
}

.capture:hover {
    background-color: #f58208; /* ホバー時の水色を少し暗くする */
}


.video-container {
    position:relative;
    width: 100%;
    height: 100%;
}

video {
    position: absolute;
    width: 30%; /* ビデオの幅を50%に設定 */
    height: auto; /* 高さは自動で調整 */
    border: 1px solid black; /* 境界線を追加（任意） */
    top: 60px;
    left: 50%;
    transform: translate(-50%);
}

canvas {
    display: none; /* Canvasは非表示にする */
}




/* --------------------------------ごはん広場CSS------------------------------------- */

.confirm-delete-button{
    border-radius: 5px;
    background-color:palegreen;
    height:auto;
    min-width: auto; /* 最小幅も設定 */
    border: 1px solid black;
    display: inline-block; /* インラインブロックに設定 */
    cursor: pointer; /* カーソルをポインターに変更 */
}
.confirm-delete-button:hover{
    background-color:#4CAF50;
}

.cancel-button{
    color: white;
    border-radius: 5px;
    background-color: red;
    height: auto;
    min-width: auto;
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
}

.cancel-button:hover {
    background-color: #c60d0d; /* ホバー時の水色を少し暗くする */
}

.cancel-delete-button{
    color: white;
    border-radius: 5px;
    background-color: red;
    height: auto;
    min-width: auto;
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
}

.cancel-delete-button:hover {
    background-color: #c60d0d; /* ホバー時の水色を少し暗くする */
}

/* 画像のスタイル */
.post-img {
    width: 100px;
    height: 100px;
    margin-left: 20px;
    object-fit: contain; /* 縦横比を維持しながら領域にフィットさせる */
}

/* 投稿リスト全体 */
.posts {
    display: flex; /* フレックスコンテナにする */
    flex-wrap: wrap; /* 要素を折り返して表示 */
    justify-content: flex-start; /* 左寄せにする */
    gap: 20px; /* 各投稿間の横の隙間 */
    margin: 0 auto; /* 中央寄せ */
    max-width: 100%; /* 最大幅を100%に設定 */
    margin-left:130px;
}

/* 各投稿 */
.post {
    background-color: white;
    border-radius: 5px;
    border: gray 3px solid;
    width: calc(33.333% - 20px); /* 1行に3つ並べるための幅設定（マージン考慮） */
    margin: 10px 0; /* 上下の余白を追加 */
    text-align: left; /* テキストを左揃え */
    box-sizing: border-box; /* 幅にパディングやボーダーを含める */
}

/* 投稿内容 */
.post-content {
    display: flex; /* フレックスコンテナにする */
    align-items: flex-start; /* 縦の位置を揃える */
    margin-top: 10px; /* 上部にマージン */
    margin-bottom: 20px; /* 下部にマージン */
}


.post-txt {
    word-wrap: break-word; /* 単語の途中で改行を許可 */
    overflow-wrap: break-word; /* overflow-wrapのプロパティをサポートするブラウザ向け */
    overflow: hidden; /* はみ出す部分を隠す */
    white-space: pre-wrap normal; /* 空白を保持し、折り返す */
    margin-left:10px;
    margin-bottom:20px;
    flex: 1; /* テキストが残りのスペースを占有する */
}

.edit-txtarea{
    font-size: 16px;
    min-height: 100px; /* 最小高さを設定 */
    height: auto;
    width: 98%; /* 親要素に合わせて幅を98%に設定 */
    margin-right: 10px; /* 右に少し余白を設定 */
    resize: none; /* ユーザーによるサイズ変更を無効化 */
    overflow: hidden; /* 内容に応じて高さが増える */
    white-space: pre-wrap; /* 改行を保持しつつ、単語の途中での折り返しを許可 */
    box-sizing: border-box; /* パディングとボーダーを含めた幅設定 */
}

#searchByContent{
    margin-left:20px;
}

.reset-button{
    height:20px;
    width:90px;
    margin-left:20px;
    background-color:red;
    color:white;
    border-radius:5px;
    border: 1px solid black;
    line-height: 5px;
    text-align: center;
    cursor:pointer;
}

/*     ----------------------------------ごはん提案CSS---------------------------- */

.sugglook-button{
    background-color: orange;
}

.sugglook-button:hover {
    background-color: #f58208;; /* ホバー時の水色を少し暗くする */
}

.sugghist-button{
    background-color: orange;
}

.sugghist-button:hover {
    background-color: #f58208;; /* ホバー時の水色を少し暗くする */
}



/*     ------------------ごはん投稿CSS---------------------------- */

.post-txtbox{
    resize: none;  /* リサイズを無効にする（必要に応じて） */
    height: 200px;
    width:700px;
    border: 1px solid black; /* 枠線 */
    border-radius:5px;
}

.textarea-container {
    display: flex;               /* フレックスボックスを使う */
    justify-content: center;     /* 横方向を中央に配置 */
}

.post-button {
    position:fixed;
    width:110px;
    height:50px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: orange; /* ボタンの背景色 */
    color: white;               /* ボタンの文字色 */
    border-radius: 5px;        /* 角を丸くする */
    border: none;              /* ボーダーを消す */
    text-align: center;        /* テキストを中央揃え */
    margin-top: 20px; 
    right:290px;
}

.post-button:hover {
    background-color: #f58208;; /* ホバー時の水色を少し暗くする */
}

.select-img {
    display: none; /* デフォルトのファイル入力を隠す */
}

.select-post-img {
    position: fixed;
    width:110px;
    margin-left: 290px; /* 左のマージンを保持 */
    padding: 10px 20px;
    cursor: pointer;
    background-color: orange; /* ボタンの背景色 */
    color: white;               /* ボタンの文字色 */
    border-radius: 5px;        /* 角を丸くする */
    border: none;              /* ボーダーを消す */
    text-align: center;        /* テキストを中央揃え */
    margin-top: 20px; 
}

.select-post-img:hover {
    background-color: #f58208; /* ホバー時の背景色 */
}

.post-error-message {
    position:fixed;
    color: red;
    left: 450px;
    margin-top:30px;
    display: none;
}



.fixed-button {
    position: fixed; /* 固定位置にする */
    bottom: 20px; /* 下からの距離 */
    right: 20px; /* 右からの距離 */
    display: flex; /* フレックスボックスを使用 */
    flex-direction: column; /* 縦に並べる */
    gap: 10px; /* ボタン間のスペース */
    z-index: 1000; /* 他の要素の上に表示するためにz-indexを設定 */
}

.fixed-button button {
    width: 100px; /* ボタンの幅 */
    height: 100px; /* ボタンの高さ */
    border-radius: 50%; /* 円形にする */
    border: none; /* ボーダーを消す */
    background-color: #007BFF; /* ボタンの背景色 */
    color: white; /* テキストの色 */
    font-size: 16px; /* フォントサイズ */
    justify-content: center; /* 横方向の中央揃え */
    align-items: center; /* 縦方向の中央揃え */
    cursor: pointer; /* カーソルをポインターにする */
    transition: background-color 0.3s; /* ホバー時のスムーズな変化 */
    left:20px;
    position:fixed;
    bottom: 130px;
}

.fixed-button button:hover {
    background-color: #0056b3; /* ホバー時の背景色 */
}

.goTop-button {
    position: fixed; /* 固定位置にする */
    bottom: 20px; /* 下からの距離 */
    right: 20px; /* 右からの距離 */
    display: flex; /* フレックスボックスを使用 */
    flex-direction: column; /* 縦に並べる */
    gap: 10px; /* ボタン間のスペース */
    z-index: 1000; /* 他の要素の上に表示するためにz-indexを設定 */
}

.goTop-button button {
    width: 100px; /* ボタンの幅 */
    height: 100px; /* ボタンの高さ */
    border-radius: 50%; /* 円形にする */
    border: none; /* ボーダーを消す */
    background-color: #007BFF; /* ボタンの背景色 */
    color: white; /* テキストの色 */
    font-size: 16px; /* フォントサイズ */
    justify-content: center; /* 横方向の中央揃え */
    align-items: center; /* 縦方向の中央揃え */
    cursor: pointer; /* カーソルをポインターにする */
    transition: background-color 0.3s; /* ホバー時のスムーズな変化 */
    left:20px;
    position:fixed;
    bottom: 240px;
}

.goTop-button button:hover {
    background-color: #0056b3; /* ホバー時の背景色 */
}

.txterror-message{
    text-align:center;
}

.file-name{
    position:fixed;
    left:450px;
    margin-top:30px;
}

/* photo_upload -------------------------------------------------------------------*/


.upload-button:hover {
    background-color: #f58208; /* ホバー時の背景色 */
}

/* 画像のスタイル */
#selected-image {
    position: absolute; /* 位置を絶対指定 */
    top: 50%; /* 垂直方向中央 */
    left: 50%; /* 水平方向中央 */
    transform: translate(-50%, -50%); /* 中央に位置調整 */
    display: none; /* 初期状態で非表示 */
    max-width: 150px; /* 幅を150pxに制限 */
    max-height: 150px; /* 高さを150pxに制限 */
    width: auto; /* 幅の自動調整 */
    height: auto; /* 高さの自動調整 */
    object-fit: contain; /* 縦横比を保ちながら画像が収まる */
    overflow: hidden; /* 画像が領域を超えないように隠す */
}

/* 画像表示領域 */
.upload-img-zone {
    background-color: gainsboro; /* 背景色 */
    position: fixed;
    top: 210px; /* 表示領域の位置 */
    right: 70px;
    width: 270px; /* 幅を270pxに制限 */
    height: 220px; /* 高さを220pxに制限 */
    overflow: hidden; /* はみ出す部分を隠す */
    display: flex; /* フレックスボックスを使用して中央配置 */
    justify-content: center; /* 水平中央に配置 */
    align-items: center; /* 垂直中央に配置 */
    border: 2px solid #ccc; /* 枠線を追加して見やすく */
    border-radius: 8px; /* 角を丸くする */
}

/* 初期メッセージ */
.upload-img-zone-text {
    color: #555;
    font-size: 16px;
    text-align: center;
    line-height: 220px; /* 高さに合わせて垂直中央に配置 */
    position: absolute; /* 絶対配置で中央に配置 */
    width: 100%; /* 幅を100%に */
}


.main-text {
    text-align: center;
    margin-top: -25px;
    margin-bottom: 15px;
    font-size: 35px;
    font-weight: bold;
}

.loading-text {
    text-align:center; 
}

.upload-button {
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center; /* 中央揃え */
    
    width: 400px; /* ボタンの幅を設定 */
    height: 70px; /* ボタンの高さを設定 */
    margin: 35px 0px 0px 55px; /* ボタンの間にスペースを追加 */
    border: none; /* 枠線をなしに設定 */
    color: white;
    font-size: 22px;
    border-radius: 10px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに変更 */
    transition: background-color 0.3s; /* ホバー時の色変更を滑らかにする */
}

.upload-button:hover {
    background-color: #f58208;; /* ホバー時の水色を少し暗くする */
}

.button-container-photo-upload {
    width: 40%;
    height: 250px;
    padding-top: -50px;
    background-color: rgb(250, 250, 166);
    border: 2px solid yellow;
    display: flex;
    flex-wrap: wrap; /* ボタンを折り返し可能にする */
    margin: auto; /* コンテナを中央に配置 */
    flex-direction: column; /* 縦に並べる */       
}

.disabled-button {
    background-color: lightgray; /* 薄い灰色 */
    color: darkgray; /* 文字色も薄く */
    pointer-events: none; /* クリックイベントを無効にする */
    cursor: not-allowed; /* カーソルを禁止にする */
}



/* ごはん提案メニュー */
.button-container-sugg {
    display: flex;
    flex-wrap: wrap; /* ボタンを折り返し可能にする */
    width: 920px; /* コンテナの幅を更新 */
    justify-content: center; /* 中央揃え */
    margin: auto; /* コンテナを中央に配置 */
}

.sugg-button {
    width: 400px; /* ボタンの幅を設定 */
    height:80px;
    margin:0px 30px 30px 30px; /* ボタンの間にスペースを追加 */
    border: none; /* 枠線をなしに設定 */
    color: white;
    background-color: orange;
    font-size: 22px;
    border-radius: 5px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに変更 */
    transition: background-color 0.3s; /* ホバー時の色変更を滑らかにする */
}

.sugg-button:hover {
    background-color: #f58208;; /* ホバー時の水色を少し暗くする */
}



.submit-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}


/* アカウント設定CSS */

.allergy-button {
    background-color: orange;
    border: 3px solid #ffd700;
}

.allergy-button:hover {
    background-color: #f58208;; /* ホバー時の水色を少し暗くする */
}

.logout-button {
    background-color: #ffb6cb;
    border: 3px solid #db7093;
}

.logout-button:hover {
    background-color: #db7093; /* ホバー時の水色を少し暗くする */
}

/* ----------垢削除と戻る---------- */
.button-sel {
    display: flex;
    text-align: center;
    margin: 0 auto;
    width: 800px;
    height: 50px;
}

.acctdel-button {
    position:fixed;
    right:300px;
    width: 160px;
    height:40px;
    font-size: 18px;
    color: white;
    background-color:red;
    border-radius: 5px;
    border: solid #000;
    cursor: pointer;
}

.acctdel-button:hover {
    background-color: #c60d0d; /* ホバー時の水色を少し暗くする */
}

.button-container-ac{
    display: flex;
    flex-direction: column;
    width: 920px; /* コンテナの幅を更新 */
    text-align: center; /* 中央揃え */
    margin: 0 auto; /* コンテナを中央に配置 */
}

.button-container-ac button {
    width: 700px; /* ボタンの幅を設定 */
    height:70px;
    margin:0px 30px 30px 100px; /* ボタンの間にスペースを追加 */
    font-size: 22px;
    border-radius: 5px; /* 角を丸くする */
    border:none;
    cursor: pointer; /* カーソルをポインターに変更 */
}

/* 予測結果画面　またの名をsuccess */
.success-text {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    margin-top: -20px;
}


/* success_text1 */
.success-text1 {
    font-size: 30px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    list-style-type: none;
    align-items: center;
    padding-top: 2px;
}


.prediction-result {
    display: flex; /* フレックスボックスにする */
    justify-content: center; /* 横方向の中央揃え */
    align-items: center; /* 縦方向の中央揃え */
    width: 100%; /* 幅を100%に設定 */
    height: 100px; /* 高さを設定 */
    list-style-type: none; /* リストマーカーを消す */
    padding: 0; /* デフォルトのパディングを消す */
    margin: 0; /* デフォルトのマージンを消す */
    margin-top: -40px;
}

.prediction-result li {
    display: flex; /* フレックスボックスにする */
    justify-content: center; /* 横方向の中央揃え */
    align-items: center; /* 縦方向の中央揃え */
    width: auto; /* 自動幅に変更 */
    height: 30px; /* 固定高さ */
    font-size: 20px; /* フォントサイズ */
    margin: 10px; /* 各要素間の間隔を調整する */
}

#averagePredicted {
    width: 400px;
    height: 40px;
    font-size: 20px;
}

.editButton, .completeButton{
    padding: 10px 10px;
    font-size: 15px;
    margin: 5px;
    cursor: pointer;
}


/* レシピアップロード画面CSS */

.recipe_images-text1 {
    font-size: 30px;
    text-align:center;
    padding-left: 20px;
    padding-top: 20px;
}

.recipe-button-container {
    width: 300px;
    height: 300px;
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    flex-direction: column;
    padding-right: 500px;
    margin-left:36%;
    gap: 10px;
}

.recipe-form-container {
    display:flex;
    flex-direction:column;
    gap: 10px;
    width: 300px;
}

.recipe-name {
    gap: 10px;
    flex-direction: column;
}

.recipe-name-box{
    width:250px;
}

.pred-txt{
    font-size: 16px;
    height:60px;
    width:auto;
}

#recipeList {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3列を均等に分ける */
    gap: 0; /* アイテム間の間隔をゼロに設定（ボーダーで区切るので間隔は不要） */
    list-style-type: none; /* リストの点を消す */
    padding: 0; /* ulのデフォルトのパディングを削除 */
}

#recipeList li {
    text-align: center; /* アイテムのテキストを中央揃え */
    padding: 10px; /* 内側の余白を追加 */
    border: 1px solid black; /* 黒い実線でボーダーを追加 */
    box-sizing: border-box; /* ボーダーを含むようにサイズを調整 */
}

.editButton{
    border-radius: 5px;
    background-color:palegreen;
    margin-left:10px;
    height:50px;
    min-width: 85px; /* 最小幅も設定 */
    border: 2px solid black;
    display: inline-block; /* インラインブロックに設定 */
    cursor: pointer; /* カーソルをポインターに変更 */
}



.completeButton{
    color:black;
    border-radius: 5px;
    background-color:palegreen;
    margin-left:10px;
    height:50px;
    min-width: 85px; /* 最小幅も設定 */
    border: 2px solid black;
    display: inline-block; /* インラインブロックに設定 */
    cursor: pointer; /* カーソルをポインターに変更 */
}

.cancelButton{
    color:white;
    border-radius: 5px;
    background-color:red;
    margin-left:10px;
    height:50px;
    min-width: 85px; /* 最小幅も設定 */
    border: 2px solid black;
    display: inline-block; /* インラインブロックに設定 */
    cursor: pointer; /* カーソルをポインターに変更 */
}

.cancelButton:hover {
    background-color: #c60d0d; /* ホバー時の水色を少し暗くする */
}

.submitButton-container {
    width: 110px;
    position: fixed; /* 視覚的に固定 */
    bottom: 40px; /* 下から0px */
    left: 50%;
    transform: translateX(-50%);
}

#submitButton{
    border-radius: 5px;
    background-color:orange;
    border:none;
    height:60px;
    width: 110px; /* 最小幅も設定 */
    padding:10px;
    cursor: pointer; /* カーソルをポインターに変更 */
    font-size: 20px;
}

#submitButton:hover {
    background-color: #f58208;; /* ホバー時の水色を少し暗くする */
}

/* ごはんアップロード完了ページCSS */

.touroku-comp{
    text-align:center;
    margin-top:100px;
}

.touroku-comp-button {
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center; /* 中央揃え */
    
    width: 400px; /* ボタンの幅を設定 */
    height: 70px; /* ボタンの高さを設定 */
    margin: 150px 0px 0px 35%; /* ボタンの間にスペースを追加 */
    border: none; /* 枠線をなしに設定 */
    color: white;
    font-size: 22px;
    border-radius: 10px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに変更 */
    transition: background-color 0.3s; /* ホバー時の色変更を滑らかにする */
    text-decoration: none;
}

.touroku-comp-button:hover {
    background-color: #f58208; /* ホバー時の灰色を少し暗くする */
}


/* ---------------------MasterCheck用CSS -------------------------*/

form.MC-form {
    display: inline-flex;  /* フォーム自体をインラインフレックスに設定 */
}

/* acct_set(アカウント設定)------------------------------------------------------- */
.login-image{
    height: 120px;
    width: 120px;
    float: right;
    position: absolute;
    margin-left: 1100px;
}

.login-name {
    float: right;
    margin-top: 100px;
}

/* ----------アレルギー登録云々---------- */
.button-container {
    display: flex;
    flex-direction: column;
    width: 920px; /* コンテナの幅を更新 */
    text-align: center; /* 中央揃え */
    margin: 0 auto; /* コンテナを中央に配置 */
}

.button-container button {
    width: 700px; /* ボタンの幅を設定 */
    height:70px;
    margin:0px 30px 30px 100px; /* ボタンの間にスペースを追加 */
    font-size: 22px;
    border-radius: 5px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに変更 */
}

.allergy-button {
    background-color: orange;
    border: 3px solid orange;
    color:white;
    cursor: pointer;
}

.allergy-button:hover {
    background-color: #f58208;; /* ホバー時の水色を少し暗くする */
}

.chanpsw-button {
    background-color: orange;
    color:white;
    cursor: pointer;
}

.chanpsw-button:hover {
    background-color: #f58208;; /* ホバー時の水色を少し暗くする */
}


/* ----------垢削除と戻る---------- */
.button-sel {
    display: flex;
    text-align: center;
    margin: 0 auto;
    width: 800px;
    height: 50px;
}

.acctdel-button {
    margin-left: 440px;
    width: 160px;
    font-size: 18px;
    color: white;
    background-color:red;
    border-radius: 5px;
    border: solid #000;
    cursor: pointer;
}



/* ----------アレルギー登録---------- */
.ale {
    padding-top: 20px;
    text-align: center;
    font-size: 24px;
}

.chkbox {
    text-align: center;
    font-size:20px;
    accent-color: rgb(34, 171, 34);
    padding-top: 40px;
}

input {
    margin-left: 30px;
}

.under-cls {
    text-align: center;
    margin: auto;
}

.tmg-friends {
    height: 250px;
    width: 300px;
    position:absolute;
    right: 20px;
    bottom: 0px;
}

.new-allergy-button-container {
    margin: 0 auto;
    padding-top: 80px;
    width: 120px;
}


.new-allergy-button-container button {
    width: 120px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    color:white;
    background-color: orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.new-allergy-button-container button:hover {
    background-color: #f58208;; /* ホバー時の水色を少し暗くする */
}


.bkb {
    margin-top: 100px;
    margin-left: 50px;
}

.allergy-p {
    text-align: center;
    font-size: 20px;
}

.allergy-l {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.allergy-l li {
    margin: 0 10px;
    font-size: 25px;
}

.menu-button {
    width: 120px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    background-color: orange;
    border-radius: 5px;
}

.menu-button:hover {
    background-color: #f58208;; /* ホバー時の水色を少し暗くする */
}

/*   あれるぎーちぇっくぼくす */

.chkbox input[type="checkbox"] {
    width: 20px;  /* チェックボックスの幅 */
    height: 20px; /* チェックボックスの高さ */
    transform: scale(1.5); /* チェックボックスを拡大 */
    margin-right: 10px; /* ラベルとの間にスペースを追加 */
}

.chkbox {
    font-size: 25px; /* ラベルの文字サイズ */
}

/* login------------------------------------------------------ */
.main-contents-ninshou {
    padding-top: 120px;
}

.ninshou-form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

/* logout----------------------------------------------------- */
.button-container-ninshou {
    display: flex;
    flex-wrap: wrap; /* ボタンを折り返し可能にする */
    width: 920px; /* コンテナの幅を更新 */
    justify-content: center; /* 中央揃え */
    margin: auto; /* コンテナを中央に配置 */
    padding-top: 90px;
}

.button-container-ninshou button {
    width: 200px; /* ボタンの幅を設定 */
    height:80px;
    margin:0px 30px 30px 30px; /* ボタンの間にスペースを追加 */
    border-style: solid;
    border-color:red; /* 枠線をなしに設定 */
    background-color: #ff6161;
    color: white;
    font-size: 22px;
    border-radius: 65px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに変更 */
    transition: background-color 0.3s; /* ホバー時の色変更を滑らかにする */
}

.button-container-ninshou button:hover {
    background-color: #ffab96; /* ホバー時の水色を少し暗くする */
}


/* logout_success---------------------------------------------------------- */

.restart-button {
    text-align: center;
    font-size: 20px;
    padding-top: 50px;
}


/* signup---------------------------------------------------------- */
.signup-form{
    display: flex; /* フレックスボックスを使用 */
    flex-direction: column; /* 縦に並べる */
    align-items: center; /* 中央揃え */
    justify-content: center; /* 縦方向も中央揃え（高さがある場合） */
}

.signup-form1{
    margin-top:140px;
    display: flex; /* フレックスボックスを使用 */
    flex-direction: column; /* 縦に並べる */
    align-items: center; /* 中央揃え */
    justify-content: center; /* 縦方向も中央揃え（高さがある場合） */
}

.signup-button {
    background-color: orange; /* 水色の背景色 */
    color: white; /* テキストの色を黒に設定 */
    padding: 10px 30px; /* 上下の余白を15px、左右を30pxに設定 */
    font-size: 18px; /* フォントサイズを18pxに設定 */
    border: none; /* 枠線をなしに設定 */
    border-radius: 5px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに変更 */
    transition: background-color 0.3s; /* ホバー時の色変更を滑らかにする */
}

.signup-button:hover {
    background-color: #f58208; /* ホバー時の水色を少し暗くする */
}

/* account_look---------------------------------------------------- */
@keyframes float {
    0%, 100% {
        transform: translateY(0); /* 初期位置 */
    }
    50% {
        transform: translateY(-10px); /* 上に10px移動 */
    }
}
@keyframes glow {
    0% {
        text-shadow: 0 0 5px #ffcc00, 0 0 10px #ffcc00, 0 0 15px #ffcc00; /* スタートの状態 */
        opacity: 0.7; /* 初めの透明度 */
    }
    100% {
        text-shadow: 0 0 10px #ffcc00, 0 0 20px #ffcc00, 0 0 30px #ffcc00; /* 最後の発光状態 */
        opacity: 1; /* 最後の透明度 */
    }
}

.table-container {
    display: flex; /* フレックスボックスを使用 */
    justify-content: center; /* 水平方向に中央揃え */
    margin: 20px; /* 上下のマージンを追加 */
}

table {
    border-collapse: collapse; /* セルの境界を重ねる */
    width: 80%; /* テーブルの幅を設定（必要に応じて変更） */
}

.table-container table {
    margin-bottom: 30px; /* アカウント一覧表の下に30pxの余白を追加 */
}

th, td {
    border: 1px solid #ccc; /* セルの境界線 */
    padding: 8px; /* パディングを追加 */
    text-align: center; /* テキストを中央揃え */
}

#searchAccountName{
    margin-left:20px;
}

#searchEmail{
    margin-left:20px;
}

/*　結局必要だったので追加しました　お許しを　*/
.txt-center{
    text-align: center;
}

.eat-hist-list {
    list-style:none;
    font-size: 25px;
    margin-left: -35px;
}

.pankuzu {
    z-index: 1000;
    background-color: red;
}
/*パスワード変更画面のエラーメッセージ用個別CSS　面倒だったので許して*/
.PsdChange-error-message{
    color: red;
    margin-left: 10px;
    text-align: center;
}

/* sugg_look------------------------------------------------------------------ */
.teian-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    text-align:center;
    width: 300px;
    left: 50%;
    transform: translate(-50%);
}

.teian-container2 {
    padding-top: 50px;
    text-align:center;
    width: 80%;
    margin: 0 auto;
}

.teian-result {
    font-size: 20px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.error-message{
    color: red;
    margin-left: 10px;
    text-align:center;
    display: none;
}

.history-container{
    display: flex; /* フレックスボックスを使用 */
    justify-content: center; /* 水平方向に中央揃え */   
}

.eat-hist-table {
    width: 50%;  /* テーブルの横幅を80%に設定 */
    margin: 0 auto;  /* テーブルを中央に配置 */
    border-collapse: collapse;
}




/* 中央配置用のコンテナ */
.center-container {
    display: flex;
    flex-direction: column; /* アイテムを縦に並べる */
    justify-content: center; /* 縦方向に中央揃え */
    align-items: center; /* 横方向に中央揃え */
}

/* .txt-center クラスでテキストを中央揃え */
.txt-center {
    text-align: center;
}

/* 検索ボックスのスタイル */
#searchBox {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    width: 300px; /* 幅を指定 */
    text-align: center; /* 入力内容を中央揃え */
}

/* レシピリストのスタイル */
#recipeList {
    list-style-type: none; /* デフォルトのリストスタイルを無効にする */
    padding: 0;
    margin: 0;
    text-align: center; /* リストアイテムを中央揃え */
}

#recipeList li {
    padding: 5px 0;
    font-size: 18px;
}

.hidden {
    display: none;
}

.recipe-look-link {
    margin-top: 5%; /* 画面下から5%の位置 */
    margin-left: 50%; /* 横方向の中央 */
    transform: translateX(-50%); /* 50%の左にずらして正確に中央に */
    text-align: center; /* リンクのテキストを中央揃え */
    width: 100%; /* 横幅いっぱい */
}

.recipe-look-link a {
    display: inline-block; /* リンクを横並びにするためにインラインブロックに */
    margin: 0 10px; /* リンク間のスペースを指定 */
    text-align: center; /* リンク内のテキストも中央揃え */
}

.back-menu-button {
    width: 180px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    margin-left:auto;
    margin-right:auto;
    color:white;
    background-color: orange;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}

.back-menu-button:hover {
    background-color: #f58208;; /* ホバー時の水色を少し暗くする */
}

.edit-button{
    border-radius: 5px;
    background-color:palegreen;
    height:auto;
    min-width: auto; /* 最小幅も設定 */
    border: 1px solid black;
    display: inline-block; /* インラインブロックに設定 */
    cursor: pointer; /* カーソルをポインターに変更 */
}
.edit-button:hover{
    background-color:#4CAF50;
}

.delete-button{
    color:white;
    border-radius: 5px;
    background-color:red;
    height:auto;
    min-width: auto; /* 最小幅も設定 */
    border: 1px solid black;
    display: inline-block; /* インラインブロックに設定 */
    cursor: pointer; /* カーソルをポインターに変更 */
}

#edit-button{
    border-radius: 5px;
    background-color:palegreen;
    height:auto;
    min-width: auto; /* 最小幅も設定 */
    border: 1px solid black;
    display: inline-block; /* インラインブロックに設定 */
    cursor: pointer; /* カーソルをポインターに変更 */
}
#edit-button:hover{
    background-color:#4CAF50;
}

#confirm-button{
    color:white;
    border-radius: 5px;
    background-color:red;
    height:auto;
    min-width: auto; /* 最小幅も設定 */
    border: 1px solid black;
    display: inline-block; /* インラインブロックに設定 */
    cursor: pointer; /* カーソルをポインターに変更 */
}

/*　　エラーページ用CSS　　*/

.error-button {
    width: 180px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    color:white;
    background-color: orange;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    display: block;   /* ボタンをブロック要素にして marginを使えるようにする */
    margin-left: auto; /* 左側の余白を自動調整 */
    margin-right: auto; /* 右側の余白を自動調整 */
}

.error-button:hover {
    background-color: #f58208;; /* ホバー時の水色を少し暗くする */
}

.else-error{
    margin-top:70px;
    text-align: center;
}

