html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%; /* 高さを100%に設定 */
  }

.kabegami {
    background-size: cover;
}


.title {
    justify-content: center; /* 水平方向に中央配置 */
    max-width: 30%; /* 画像の最大幅を65%に設定 */
    height: auto; /* 高さを自動に設定してアスペクト比を保持 */
    margin-top: -50px; /* 上にずらすためのマージンを設定（値は調整可） */
    margin-left: 205px; 
}

.image-container {
    display: flex; /* フレックスボックスを使用 */
    justify-content: center; /* 横方向の中央揃え */
    align-items: center; /* 縦方向の中央揃え */
    margin-top: 20px; /* タイトル画像との間にマージンを設定（調整可） */
}

.button-container-mainmenu {
    display: flex;
    flex-wrap: wrap; /* ボタンを折り返し可能にする */
    width: 920px; /* コンテナの幅を更新 */
    justify-content: center; /* 中央揃え */
    margin: auto; /* コンテナを中央に配置 */
}

.button-container-mainmenu button {
    width: 400px; /* ボタンの幅を設定 */
    height:80px;
    margin:0px 30px 30px 30px; /* ボタンの間にスペースを追加 */
    border: none; /* 枠線をなしに設定 */
    color: white;
    font-size: 22px;
    border-radius: 5px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに変更 */
    transition: background-color 0.3s; /* ホバー時の色変更を滑らかにする */
}



.start-link {
    height:0%;
    display: flex; /* フレックスボックスを使用 */
    justify-content: center; /* 横方向の中央揃え */
    align-items: center; /* 縦方向の中央揃え */
}

.start-link img {
    width: 65%; /* 幅を35%に設定（必要に応じて調整） */
    max-width: 100%; /* コンテナの幅を超えないようにする */
    margin-top: -15%; /* 上にずらすためのマージンを設定（値は調整可） */
    display: block; /* 画像の隙間をなくすためにブロック表示 */
}

.fryreverse,
.fripan {
    width: 20%; /* 幅を20%に設定（必要に応じて調整） */
    height: auto; /* 高さは自動でアスペクト比を保持 */
    margin-top: -15%; /* 上にずらすためのマージンを設定（値は調整可） */
    animation: float 2s ease-in-out infinite; /* アニメーションの適用 */
}

@keyframes float {
    0%, 100% {
        transform: translateY(0); /* 初期位置 */
    }
    50% {
        transform: translateY(-10px); /* 上に10px移動 */
    }
}

.start-link-container {
    position: relative; /* 相対位置に設定 */
}

.start-text {
    position: absolute; /* 絶対位置に設定 */
    top: 50%; /* 縦中央揃え */
    left: 50%; /* 横中央揃え */
    transform: translate(-50%, -120%); /* 中心に配置 */
    color: black; /* テキストの色を白に設定 */
    font-size: 30px; /* フォントサイズを設定 */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* 影を追加して視認性を向上 */
}

.start-link {
    color: #fff; /* テキストの色 */
    text-decoration: none; /* 下線を消す */
    animation: glow 1s infinite alternate; /* アニメーションを設定 */
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px #ffcc00, 0 0 10px #ffcc00, 0 0 15px #ffcc00; /* スタートの状態 */
        opacity: 0.7; /* 初めの透明度 */
    }
    100% {
        text-shadow: 0 0 10px #ffcc00, 0 0 20px #ffcc00, 0 0 30px #ffcc00; /* 最後の発光状態 */
        opacity: 1; /* 最後の透明度 */
    }
}

header {
    display: flex; /* フレックスボックスを使用して横並びにする */
    align-items: center; /* 垂直方向に中央揃え */
    background-color: rgb(230,230,250,0.5);
}

.header-logo {
    width: 200px; /* 画像の幅を設定 */
    margin-left: 20px;
    margin-right: 20px; /* 画像とリストの間にスペースを追加 */
}

.navi {
    list-style: none; /* リストのドットを削除 */
    padding: 0; /* パディングを削除 */
    margin: 0; /* マージンを削除 */
    display: flex; /* リスト項目を横並びにする */
}

.navi-li {
    margin-right: 15px; /* リスト項目の間にスペースを追加 */
}



.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#input1 {
    display: block;
    margin: auto;
    width: 200px;
}

.my-textbox {
    width: 500px;  /* 幅を300ピクセルに設定 */
    height: 40px;  /* 高さを40ピクセルに設定 */
    padding: 10px; /* 内側の余白を10ピクセルに設定 */
    font-size: 16px; /* フォントサイズを16ピクセルに設定 */
    border: 1px solid #ccc; /* 枠線を設定 */
    border-radius: 5px; /* 角を丸くする */
}

.container {
    display: flex; /* フレックスボックスを使用 */
    justify-content: right; /* 横方向の中央揃え */
    align-items: center; /* 縦方向の中央揃え */
    height: 100%; /* コンテナの高さを100%に設定 */
    padding-right: 10px;
    margin-top: -85px;  
    margin-right:40px;
}

.login-form{
    display: flex; /* フレックスボックスを使用 */
    flex-direction: column; /* 縦に並べる */
    align-items: center; /* 中央揃え */
    justify-content: center; /* 縦方向も中央揃え（高さがある場合） */
}

.login-button {
    background-color: #749DFC; /* 水色の背景色 */
    color: black; /* テキストの色を黒に設定 */
    padding: 10px 30px; /* 上下の余白を15px、左右を30pxに設定 */
    font-size: 18px; /* フォントサイズを18pxに設定 */
    border: none; /* 枠線をなしに設定 */
    border-radius: 5px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに変更 */
    transition: background-color 0.3s; /* ホバー時の色変更を滑らかにする */
}

.login-button:hover {
    background-color: #009acd; /* ホバー時の水色を少し暗くする */
}

.back-button-container {
    position: fixed; /* 視覚的に固定 */
    bottom: 20px; /* 下から0px */
    left: 40px; /* 左から0px */
    padding: 20px;
}

.back-button {
    background-color: transparent; /* 透明の背景色 */
    color: black; /* テキストの色を黒に設定 */
    padding: 9px 30px; /* 上下の余白を9px、左右を30pxに設定 */
    font-size: 18px; /* フォントサイズを18pxに設定 */
    border: 2px solid black; /* 枠線を黒に設定 */
    border-radius: 5px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに変更 */
    transition: background-color 0.3s; /* ホバー時の色変更を滑らかにする */
}

.LoginSignup-error-message {
    color: red;
    margin-left: 10px;
    text-align:center;
}

.back-button:hover {
    background-color: #efe8d2; /* ホバー時の水色を少し暗くする */
}

.camera-button{
    background-color: blue;
}

.sug-button{
    background-color: red;
}

.hiroba-button{
    background-color: green;
}

.ac-op-button{
    background-color: gray;
}



.camera-icon{
    width: 30px; /* 画像の幅を設定 */
    height: 20px; /* 画像の高さを設定 */
    margin-right: 10px; /* 画像とテキストの間にスペースを追加 */
}

.hiroba-icon{
    width: 30px; /* 画像の幅を設定 */
    height: 20px; /* 画像の高さを設定 */
    margin-right: 10px; /* 画像とテキストの間にスペースを追加 */
}

aside {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 20px;
    margin-top: -220px;
}

.Master-only-button{
    width: 170px;
    height: 80px;
    /* margin-top:-220px;
    margin-bottom: 20px; */
    background-color: orange;
    color:white;
    border-radius:5px;
    border-style:none;
    cursor: pointer; /* カーソルをポインターに変更 */
    font-size: 20px;
}
/* 
.recipe_teach{
    position:fixed;
    padding:20px 55px;
    background-color:pink;
    margin-left: 20px;
    color:white;
    border-radius:5px;
    border-style:none;
    cursor: pointer; 
} */

.memo-container {
    position: fixed; /* 要素を固定 */
    top: 370px; /* 上からの距離を固定 */
    left: 50%; /* 左から50%の位置 */
    transform: translateX(-50%); /* 自身の幅の50%を左に移動して中央揃え */
    padding-top: 10px;
    width: 100%; /* 幅を100%に設定 */
    max-width: 700px; /* 最大幅を700pxに設定 */
    margin: 0; /* マージンを0に設定 */
    display: flex; /* フレックスボックスを使用 */
    align-items: flex-end; /* 下に揃える */
}

#memo {
    width: 100%; /* 幅を100%に設定 */
    height: 120px; /* 高さを300pxに設定 */
    padding: 10px; /* 内側の余白 */
    font-size: 16px; /* フォントサイズ */
    border: 1px solid #ccc; /* 枠線 */
    border-radius: 5px; /* 角を丸くする */
    resize: none; /* リサイズを無効にする */
}


.admin-controls {
    display: flex; /* フレックスボックスを使用 */
    flex-direction: column; /* 縦に並べる */
}

.main-contents {
    padding-top: 70px;
}

  /* photomenu -----------------------------------------------------------------------------------*/

.login-button:hover {
    background-color: #009acd; /* ホバー時の水色を少し暗くする */
}

.button-container-photo-menu {
    display: flex;
    flex-wrap: wrap; /* ボタンを折り返し可能にする */
    width: 100%; /* コンテナの幅を更新 */
    justify-content: center; /* 中央揃え */
    margin: auto; /* コンテナを中央に配置 */
    flex-direction: column;
}

.button-container-photo-menu button {
    width: 400px; /* ボタンの幅を設定 */
    height:80px;
    margin:0px 30px 30px 30px; /* ボタンの間にスペースを追加 */
    border: none; /* 枠線をなしに設定 */
    color: black;
    background-color: skyblue;
    font-size: 22px;
    border-radius: 5px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに変更 */
    transition: background-color 0.3s; /* ホバー時の色変更を滑らかにする */
    margin:auto;
    margin-bottom: 60px;
}


/* photo_take---------------------------------------------------------------- */


.button-container-photo-take {
    position: relative;
    flex-wrap: wrap; /* ボタンを折り返し可能にする */
    width: 100%; /* コンテナの幅を更新 */
    height: 100%;
}


.capture {
    position: absolute;
    width: 150px;
    height: 50px; 
    top: 370px;
    left: 50%;
    transform: translate(-50%); 
    background-color: red; /* 赤の背景色 */
    color: white; /* テキストの色を白に設定 */
    font-size: 18px; /* フォントサイズを18pxに設定 */
    border-radius: 5px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに変更 */
    transition: background-color 0.3s; /* ホバー時の色変更を滑らかにする */
    z-index: 1000;
}


.video-container {
    position:relative;
    width: 100%;
    height: 100%;
}

video {
    position: absolute;
    width: 30%; /* ビデオの幅を50%に設定 */
    height: auto; /* 高さは自動で調整 */
    border: 1px solid black; /* 境界線を追加（任意） */
    top: 60px;
    left: 50%;
    transform: translate(-50%);
}

canvas {
    display: none; /* Canvasは非表示にする */
}




/* --------------------------------ごはん広場CSS------------------------------------- */

.fixed-button {
    position: fixed; /* 固定位置にする */
    bottom: 20px; /* 下からの距離 */
    right: 20px; /* 右からの距離 */
    display: flex; /* フレックスボックスを使用 */
    flex-direction: column; /* 縦に並べる */
    gap: 10px; /* ボタン間のスペース */
    z-index: 1000; /* 他の要素の上に表示するためにz-indexを設定 */
}

.fixed-button button {
    width: 100px; /* ボタンの幅 */
    height: 100px; /* ボタンの高さ */
    border-radius: 50%; /* 円形にする */
    border: none; /* ボーダーを消す */
    background-color: #007BFF; /* ボタンの背景色 */
    color: white; /* テキストの色 */
    font-size: 16px; /* フォントサイズ */
    display: flex; /* フレックスボックスを使用 */
    justify-content: center; /* 横方向の中央揃え */
    align-items: center; /* 縦方向の中央揃え */
    cursor: pointer; /* カーソルをポインターにする */
    transition: background-color 0.3s; /* ホバー時のスムーズな変化 */
}

.fixed-button button:hover {
    background-color: #0056b3; /* ホバー時の背景色 */
}

.post-img{
    width: 100px;
    height: 100px;
    margin-left:20px;
    object-fit: contain; /* 縦横比を維持しながら、領域にフィットさせる */
}

.posts{
    height:50px;
    width:700px;
    display: flex; /* フレックスコンテナにする */
    flex-direction: column; /* 子要素を縦に並べる */
    align-items: center; /* 子要素を中央揃えにする */
}

.post {
    background-color:white;
    border-radius:5px;
    border:gray 3px solid;
    width: 100%; /* 投稿の幅を指定 */
    max-width: 900px; /* 最大幅を指定 */
    margin: 10px 0; /* 上下にマージンを追加 */
    margin-left:75%;
    text-align: left; /* テキストを左揃え */
}

.post-content {
    display: flex; /* フレックスコンテナにする */
    align-items: flex-start; /* 縦の位置を揃える */
    margin-top: 10px; /* 上部にマージンを追加（必要に応じて調整） */
    margin-bottom:20px;
}

.post-txt {
    word-wrap: break-word; /* 単語の途中で改行を許可 */
    overflow-wrap: break-word; /* overflow-wrapのプロパティをサポートするブラウザ向け */
    overflow: hidden; /* はみ出す部分を隠す */
    white-space: pre-wrap normal; /* 空白を保持し、折り返す */
    margin-left:10px;
    margin-bottom:20px;
    flex: 1; /* テキストが残りのスペースを占有する */
}

.edit-txtarea{
    font-size: 16px;
    min-height: 100px; /* 最小高さを設定 */
    height:auto;
    width: 500px; /* 幅を固定 */
    resize: none; /* ユーザーによるサイズ変更を無効化 */
    overflow:hidden ; /* 内容に応じて高さが増える */
    white-space: pre-wrap; /* 改行を保持しつつ、単語の途中での折り返しを許可 */
}

#searchByContent{
    margin-left:20px;
}

.reset-button{
    height:20px;
    width:90px;
    margin-left:20px;
    background-color:red;
    color:white;
    border-radius:5px;
    border: 1px solid black;
    line-height: 5px;
    text-align: center;   
}

/*     ----------------------------------ごはん提案CSS---------------------------- */

.sugglook-button{
    background-color: skyblue;
}

.sugghist-button{
    background-color: skyblue;
}



/*     ------------------ごはん投稿CSS---------------------------- */

.post-txtbox{
    resize: none;  /* リサイズを無効にする（必要に応じて） */
    height: 200px;
    width:700px;
    border: 1px solid black; /* 枠線 */
    border-radius:5px;
}

.textarea-container {
    display: flex;               /* フレックスボックスを使う */
    justify-content: center;     /* 横方向を中央に配置 */
}

.post-button {
    width:110px;
    height:50px;
    margin-left: 470px; /* 左のマージンを保持 */
    padding: 10px 20px;
    cursor: pointer;
    background-color: skyblue; /* ボタンの背景色 */
    color: white;               /* ボタンの文字色 */
    border-radius: 5px;        /* 角を丸くする */
    border: none;              /* ボーダーを消す */
    text-align: center;        /* テキストを中央揃え */
    margin-top: 20px; 
}

.select-img {
    display: none; /* デフォルトのファイル入力を隠す */
}

.select-post-img {
    width:110px;
    height:50px;
    margin-left: 290px; /* 左のマージンを保持 */
    padding: 10px 20px;
    cursor: pointer;
    background-color: skyblue; /* ボタンの背景色 */
    color: white;               /* ボタンの文字色 */
    border-radius: 5px;        /* 角を丸くする */
    border: none;              /* ボーダーを消す */
    text-align: center;        /* テキストを中央揃え */
    margin-top: -50px; 
}

.error-message {
    color: red;
    margin-left: 10px;
    text-align:center;
    display: none;
}

.fixed-button-back {
    position: fixed; /* 固定位置にする */
    bottom: 20px; /* 下からの距離 */
    left: 20px; /* 右からの距離 */
    display: flex; /* フレックスボックスを使用 */
    flex-direction: column; /* 縦に並べる */
    gap: 10px; /* ボタン間のスペース */
    z-index: 1000; /* 他の要素の上に表示するためにz-indexを設定 */
}

.fixed-button-back button {
    width: 100px; /* ボタンの幅 */
    height: 100px; /* ボタンの高さ */
    border-radius: 50%; /* 円形にする */
    border: none; /* ボーダーを消す */
    background-color: #007BFF; /* ボタンの背景色 */
    color: white; /* テキストの色 */
    font-size: 16px; /* フォントサイズ */
    display: flex; /* フレックスボックスを使用 */
    justify-content: center; /* 横方向の中央揃え */
    align-items: center; /* 縦方向の中央揃え */
    cursor: pointer; /* カーソルをポインターにする */
    transition: background-color 0.3s; /* ホバー時のスムーズな変化 */
}

.fixed-button-back button:hover {
    background-color: #0056b3; /* ホバー時の背景色 */
}

.txterror-message{
    text-align:center;
}
/* photo_upload -------------------------------------------------------------------*/


.upload-button:hover {
    background-color: #0056b3; /* ホバー時の背景色 */
}

#selected-image { /* 画像の最大サイズを制限　「縛り」 */
    position:fixed;
    top:270px;
    left:130px;
    display: none; /* 初期状態で非表示 */
    max-width: 150px; /* 幅を400pxに制限 */
    max-height: 150px; /* 高さを300pxに制限 */
    width: auto; /* 幅の自動調整 */
    height: auto; /* 高さの自動調整 */
    overflow: hidden; /* はみ出す部分を隠す */
}

.upload-img-zone{
    background-color:gainsboro;
    position:fixed;
    top:230px;
    left:90px;
    width: 270px; /* 幅を400pxに制限 */
    height: 220px; /* 高さを300pxに制限 */
    overflow: hidden; /* はみ出す部分を隠す */
}

.upload-img-zone-text {
    color: #555;
    font-size: 16px;
    text-align: center;
    line-height: 220px; /* 高さに合わせて垂直中央に配置 */
}


.main-text {
    text-align: center;
    margin-top: -25px;
    margin-bottom: 15px;
    font-size: 35px;
    font-weight: bold;
}

.loading-text {
    text-align:center; 
}
.upload-button {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center; /* 中央揃え */
    
    width: 400px; /* ボタンの幅を設定 */
    height: 70px; /* ボタンの高さを設定 */
    margin: 35px 0px 0px 55px; /* ボタンの間にスペースを追加 */
    border: none; /* 枠線をなしに設定 */
    color: black;
    font-size: 22px;
    border-radius: 10px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに変更 */
    transition: background-color 0.3s; /* ホバー時の色変更を滑らかにする */
}

.button-container-photo-upload {
    width: 40%;
    height: 250px;
    padding-top: -50px;
    background-color: #dae8fc;
    border: 2px solid cornflowerblue;
    display: flex;
    flex-wrap: wrap; /* ボタンを折り返し可能にする */
    margin: auto; /* コンテナを中央に配置 */
    flex-direction: column; /* 縦に並べる */       
}

.disabled-button {
    background-color: lightgray; /* 薄い灰色 */
    color: darkgray; /* 文字色も薄く */
    pointer-events: none; /* クリックイベントを無効にする */
    cursor: not-allowed; /* カーソルを禁止にする */
}



/* ごはん提案メニュー */
.button-container-sugg {
    display: flex;
    flex-wrap: wrap; /* ボタンを折り返し可能にする */
    width: 920px; /* コンテナの幅を更新 */
    justify-content: center; /* 中央揃え */
    margin: auto; /* コンテナを中央に配置 */
}

.sugg-button {
    width: 400px; /* ボタンの幅を設定 */
    height:80px;
    margin:0px 30px 30px 30px; /* ボタンの間にスペースを追加 */
    border: none; /* 枠線をなしに設定 */
    color: black;
    background-color: skyblue;
    font-size: 22px;
    border-radius: 5px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに変更 */
    transition: background-color 0.3s; /* ホバー時の色変更を滑らかにする */
}



.submit-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}


/* アカウント設定CSS */

.allergy-button {
    background-color: #f0ff8c;
    border: 3px solid #ffd700;
}

.chanpsw-button {
    border: 3px solid #696969;
}

.logout-button {
    background-color: #ffb6cb;
    border: 3px solid #db7093;
}

/* ----------垢削除と戻る---------- */
.button-sel {
    display: flex;
    text-align: center;
    margin: 0 auto;
    width: 800px;
    height: 50px;
}

.acctdel-button {
    position:fixed;
    right:300px;
    width: 160px;
    height:40px;
    font-size: 18px;
    color: white;
    background-color:red;
    border-radius: 5px;
    border: solid #000;
    cursor: pointer;
}

.button-container-ac{
    display: flex;
    flex-direction: column;
    width: 920px; /* コンテナの幅を更新 */
    text-align: center; /* 中央揃え */
    margin: 0 auto; /* コンテナを中央に配置 */
}

.button-container-ac button {
    width: 700px; /* ボタンの幅を設定 */
    height:70px;
    margin:0px 30px 30px 100px; /* ボタンの間にスペースを追加 */
    font-size: 22px;
    border-radius: 5px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに変更 */
}

/* 予測結果画面　またの名をsuccess */
.success-text {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    margin-top: -20px;
}


/* success_text1 */
.success-text1 {
    font-size: 30px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    list-style-type: none;
    align-items: center;
    padding-top: 2px;
}


.prediction-result {
    display: flex; /* フレックスボックスにする */
    justify-content: center; /* 横方向の中央揃え */
    align-items: center; /* 縦方向の中央揃え */
    width: 100%; /* 幅を100%に設定 */
    height: 100px; /* 高さを設定 */
    list-style-type: none; /* リストマーカーを消す */
    padding: 0; /* デフォルトのパディングを消す */
    margin: 0; /* デフォルトのマージンを消す */
    margin-top: -40px;
}

.prediction-result li {
    display: flex; /* フレックスボックスにする */
    justify-content: center; /* 横方向の中央揃え */
    align-items: center; /* 縦方向の中央揃え */
    width: auto; /* 自動幅に変更 */
    height: 30px; /* 固定高さ */
    font-size: 20px; /* フォントサイズ */
    margin: 10px; /* 各要素間の間隔を調整する */
}

#averagePredicted {
    width: 400px;
    height: 40px;
    font-size: 20px;
}

.editButton, .completeButton{
    padding: 10px 10px;
    font-size: 15px;
    margin: 5px;
    cursor: pointer;
}


/* レシピアップロード画面CSS */

.recipe_images-text1 {
    font-size: 30px;
    float: left;
    padding-left: 20px;
    padding-top: 20px;
}

.recipe-button-container {
    width: 300px;
    height: 300px;
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    flex-direction: column;
    padding-right: 800px;
    gap: 10px;
}

.recipe-form-container {
    display:flex;
    flex-direction:column;
    gap: 10px;
    width: 300px;
}

.recipe-name {
    margin-left: -30px;
    display:flex;
    gap: 10px;
    flex-direction: column;
}


.pred-txt{
    font-size: 16px;
    height:60px;
    width:auto;
}

/* .recipe-photo-take{

} */

.editButton{
    border-radius: 5px;
    background-color:palegreen;
    margin-left:10px;
    height:50px;
    min-width: 85px; /* 最小幅も設定 */
    display: inline-block; /* インラインブロックに設定 */
    cursor: pointer; /* カーソルをポインターに変更 */
}



.completeButton{
    color:white;
    border-radius: 5px;
    background-color:red;
    margin-left:10px;
    height:50px;
    min-width: 85px; /* 最小幅も設定 */
    display: inline-block; /* インラインブロックに設定 */
    cursor: pointer; /* カーソルをポインターに変更 */
}

.submitButton-container {
    width: 110px;
    position: fixed; /* 視覚的に固定 */
    bottom: 40px; /* 下から0px */
    left: 50%;
    transform: translateX(-50%);
}

#submitButton{
    border-radius: 5px;
    background-color:#f8cecc;
    height:60px;
    width: 110px; /* 最小幅も設定 */
    padding:10px;
    cursor: pointer; /* カーソルをポインターに変更 */
    font-size: 20px;
}

/* ごはんアップロード完了ページCSS */

.touroku-comp{
    text-align:center;
    margin-top:100px;
}

.touroku-comp-button {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center; /* 中央揃え */
    
    width: 400px; /* ボタンの幅を設定 */
    height: 70px; /* ボタンの高さを設定 */
    margin: 150px 0px 0px 35%; /* ボタンの間にスペースを追加 */
    border: none; /* 枠線をなしに設定 */
    color: black;
    font-size: 22px;
    border-radius: 10px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに変更 */
    transition: background-color 0.3s; /* ホバー時の色変更を滑らかにする */
}

.touroku-comp-button:hover {
    background-color: #efe8d2; /* ホバー時の灰色を少し暗くする */
}


/* ---------------------MasterCheck用CSS -------------------------*/

.MC-button-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.MasCheck-button {
    width: 150px; /* ボタンの幅を設定 */
    height:40px;
    margin:10px 10px 10px 10px; /* ボタンの間にスペースを追加 */
    border-style: solid;
    border-color:darkslateblue; /* 枠線をなしに設定 */
    background-color: #007BFF;
    color: white;
    font-size: 22px;
    border-radius: 65px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに変更 */
    transition: background-color 0.3s; /* ホバー時の色変更を滑らかにする */
}

.MasCheck-button:hover {
    background-color: #0056b3; /* ホバー時の水色を少し暗くする */
}

form.MC-form {
    display: inline-flex;  /* フォーム自体をインラインフレックスに設定 */
}




/* acct_set(アカウント設定)------------------------------------------------------- */
.login-image{
    height: 120px;
    width: 120px;
    float: right;
    position: absolute;
    margin-left: 1100px;
}

.login-name {
    float: right;
    margin-top: 100px;
}

/* ----------アレルギー登録云々---------- */
.button-container {
    display: flex;
    flex-direction: column;
    width: 920px; /* コンテナの幅を更新 */
    text-align: center; /* 中央揃え */
    margin: 0 auto; /* コンテナを中央に配置 */
}

.button-container button {
    width: 700px; /* ボタンの幅を設定 */
    height:70px;
    margin:0px 30px 30px 100px; /* ボタンの間にスペースを追加 */
    font-size: 22px;
    border-radius: 5px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに変更 */
}

.allergy-button {
    background-color: #f0ff8c;
    border: 3px solid #ffd700;
}

.chanpsw-button {
    border: 3px solid #696969;
}


/* ----------垢削除と戻る---------- */
.button-sel {
    display: flex;
    text-align: center;
    margin: 0 auto;
    width: 800px;
    height: 50px;
}

.acctdel-button {
    margin-left: 440px;
    width: 160px;
    font-size: 18px;
    color: white;
    background-color:red;
    border-radius: 5px;
    border: solid #000;
    cursor: pointer;
}



/* ----------アレルギー登録---------- */
.ale {
    padding-top: 20px;
    text-align: center;
    font-size: 24px;
}

.chkbox {
    text-align: center;
    font-size:20px;
    accent-color: rgb(34, 171, 34);
}

input {
    margin-left: 30px;
}

.under-cls {
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

.tmg-friends {
    position: absolute;
    height: 300px;
    width: 350px;
    float: right;
    margin-left: 350px;
}

.subbutton {
    width: 120px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    background-color: #ffb6cb;
    border: 3px solid #db7093;
    border-radius: 5px;
}

.bkb {
    margin-top: 100px;
    margin-left: 50px;
}

.allergy-p {
    text-align: center;
    font-size: 20px;
}

.allergy-l {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.allergy-l li {
    margin: 0 10px;
    font-size: 25px;
}

.menu-button {
    width: 120px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    background-color: skyblue;
    border: 3px solid #44acce;
    border-radius: 5px;
}

/*   あれるぎーちぇっくぼくす */

.chkbox input[type="checkbox"] {
    width: 20px;  /* チェックボックスの幅 */
    height: 20px; /* チェックボックスの高さ */
    transform: scale(1.5); /* チェックボックスを拡大 */
    margin-right: 10px; /* ラベルとの間にスペースを追加 */
}

.chkbox {
    font-size: 25px; /* ラベルの文字サイズ */
}

/* login------------------------------------------------------ */
.main-contents-ninshou {
    padding-top: 120px;
}

.ninshou-form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

/* logout----------------------------------------------------- */
.button-container-logout {
    display: flex;
    flex-wrap: wrap; /* ボタンを折り返し可能にする */
    width: 920px; /* コンテナの幅を更新 */
    justify-content: center; /* 中央揃え */
    margin: auto; /* コンテナを中央に配置 */
    padding-top: 90px;
}

.button-container-logout button {
    width: 200px; /* ボタンの幅を設定 */
    height:80px;
    margin:0px 30px 30px 30px; /* ボタンの間にスペースを追加 */
    border-style: solid;
    border-color:red; /* 枠線をなしに設定 */
    background-color: #ff6161;
    color: white;
    font-size: 22px;
    border-radius: 65px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに変更 */
    transition: background-color 0.3s; /* ホバー時の色変更を滑らかにする */
}

.button-container-logout button:hover {
    background-color: #ffab96; /* ホバー時の水色を少し暗くする */
}


/* logout_success---------------------------------------------------------- */

.restart-button {
    text-align: center;
    font-size: 20px;
    padding-top: 50px;
}


/* signup---------------------------------------------------------- */
.signup-form{
    display: flex; /* フレックスボックスを使用 */
    flex-direction: column; /* 縦に並べる */
    align-items: center; /* 中央揃え */
    justify-content: center; /* 縦方向も中央揃え（高さがある場合） */
}

.signup-form1{
    margin-top:140px;
    display: flex; /* フレックスボックスを使用 */
    flex-direction: column; /* 縦に並べる */
    align-items: center; /* 中央揃え */
    justify-content: center; /* 縦方向も中央揃え（高さがある場合） */
}

.signup-button {
    background-color: #749DFC; /* 水色の背景色 */
    color: black; /* テキストの色を黒に設定 */
    padding: 10px 30px; /* 上下の余白を15px、左右を30pxに設定 */
    font-size: 18px; /* フォントサイズを18pxに設定 */
    border: none; /* 枠線をなしに設定 */
    border-radius: 5px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに変更 */
    transition: background-color 0.3s; /* ホバー時の色変更を滑らかにする */
}

.signup-button:hover {
    background-color: #009acd; /* ホバー時の水色を少し暗くする */
}

/* account_look---------------------------------------------------- */
@keyframes float {
    0%, 100% {
        transform: translateY(0); /* 初期位置 */
    }
    50% {
        transform: translateY(-10px); /* 上に10px移動 */
    }
}
@keyframes glow {
    0% {
        text-shadow: 0 0 5px #ffcc00, 0 0 10px #ffcc00, 0 0 15px #ffcc00; /* スタートの状態 */
        opacity: 0.7; /* 初めの透明度 */
    }
    100% {
        text-shadow: 0 0 10px #ffcc00, 0 0 20px #ffcc00, 0 0 30px #ffcc00; /* 最後の発光状態 */
        opacity: 1; /* 最後の透明度 */
    }
}

.table-container {
    display: flex; /* フレックスボックスを使用 */
    justify-content: center; /* 水平方向に中央揃え */
    margin: 20px; /* 上下のマージンを追加 */
}

table {
    border-collapse: collapse; /* セルの境界を重ねる */
    width: 80%; /* テーブルの幅を設定（必要に応じて変更） */
}

th, td {
    border: 1px solid #ccc; /* セルの境界線 */
    padding: 8px; /* パディングを追加 */
    text-align: center; /* テキストを中央揃え */
}

#searchAccountName{
    margin-left:20px;
}

#searchEmail{
    margin-left:20px;
}

.txt-center{
    text-align: center;
}
