header {
    display: flex; /* フレックスボックスを使用して横並びにする */
    align-items: center; /* 垂直方向に中央揃え */
    background-color: rgb(230,230,250,0.5);
}

.header_logo {
    width: 200px; /* 画像の幅を設定 */
    margin-left: 20px;
    margin-right: 20px; /* 画像とリストの間にスペースを追加 */
}

.navi {
    list-style: none; /* リストのドットを削除 */
    padding: 0; /* パディングを削除 */
    margin: 0; /* マージンを削除 */
    display: flex; /* リスト項目を横並びにする */
}

.navi_li {
    margin-right: 15px; /* リスト項目の間にスペースを追加 */
}



.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
.back-button {
    text-align: left;
    background-color: transparent; /* 透明の背景色 */
    color: black; /* テキストの色を黒に設定 */
    padding: 9px 30px; /* 上下の余白を15px、左右を30pxに設定 */
    font-size: 18px; /* フォントサイズを18pxに設定 */
    border: 2px solid black ; /* 枠線を黒に設定 */
    border-radius: 5px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに変更 */
    transition: background-color 0.3s; /* ホバー時の色変更を滑らかにする */
    margin-left: 40px; /* 左端との間隔を20pxあける */
}

.back-button:hover {
    background-color: #efe8d2; /* ホバー時の水色を少し暗くする */
}

.txt-center{
    text-align : center;
}

.center {
    display: flex;               /* Flexboxを使用 */
    flex-direction: column;     /* 縦方向に要素を配置 */
    align-items: center;        /* 横方向の中央寄せ */
    justify-content: center;    /* 縦方向の中央寄せ */
    height: 100vh;              /* ビューポートの高さを100%に */
}

.pad{
    margin-top:140px;
}