{% extends 'base.html' %}

{% block title %}アカウント設定{% endblock %}

{% block content %}
    <!-- <div class="container">
        <img src="../static/chara/なまたまご.png" class="login-image">
    </div> -->

<div class="main-contants">
    <div class="button-container-ac">
        <button onclick="location.href='{{ url_for('allergy_new') }}';" class="allergy-button">アレルギーの登録・更新</button>

        {% if account_id != 1 %}
            <button onclick="location.href='{{ url_for('psd_change') }}';" class="chanpsw-button">パスワードの変更</button>
        {% endif %}

        <button onclick="location.href='{{ url_for('logout') }}';" class="logout-button">ログアウト</button>
    </div>

    <div class="button-sel">
        <div class="back-button-container">
            <button onclick="location.href='{{ url_for('mainmenu') }}';" class="back-button">戻る</button>
        </div>
        {% if account_id != 1 %}
            <button onclick="location.href='{{ url_for('acct_del') }}';" class="acctdel-button">アカウント削除</button>
        {% endif %}
    </div>
</div>

{% endblock %}
