{% extends 'base.html' %}

{% block title %}アレルギー新規登録{% endblock %}

{% block content %}
<div class="main-contents">
    <p class="main-text">アレルギーの登録</p>
    <form action="{{ url_for('new_allergy') }}" method="post">
        <div class="chkbox">
            <label>
                <input type="checkbox" name="egg" value="true" {% if "卵" in allergies %} checked {% endif %}>卵
            </label>
            <label>
                <input type="checkbox" name="milk" value="true" {% if "牛乳" in allergies %} checked {% endif %}>牛乳
            </label>
            <label>
                <input type="checkbox" name="wheat" value="true"{% if "小麦" in allergies %} checked {% endif %}>小麦
            </label>
            <lable>
                <input type="checkbox" name="shrimp" value="true"{% if "えび" in allergies %} checked {% endif %}>えび
            </lable>
            <label>
                <input type="checkbox" name="crab" value="true"{% if "かに" in allergies %} checked {% endif %}>かに
            </label>
            <label>
                <input type="checkbox" name="peanut" value="true"{% if "落花生" in allergies %} checked {% endif %}>落花生
            </label>
            <label>
                <input type="checkbox" name="buckwheat" value="true"{% if "そば" in allergies %} checked {% endif %}>そば
            </label>
        </div>

        <div class="new-allergy-button-container">
            <button type="submit">登録</button>
        </div>

        <img src="../static/chara/苛立ち.png" class="tmg-friends">

    </form>


    <div class="back-button-container">
        <button onclick="location.href='{{ url_for('acct_set') }}';" class="back-button">戻る</button>
    </div>

</div>

{% endblock %}