{% extends 'base.html' %}

{% block title %}アレルギー新規登録{% endblock %}

{% block content %}
<div class="main-contents">
    <p class="main-text">アレルギーの登録</p>
    <form action="{{ url_for('new_allergy', account_id=account_id) }}" method="post">
        <div class="chkbox">
            <label>
                <input type="checkbox" name="egg" value="true">卵
            </label>
            <label>
                <input type="checkbox" name="milk" value="true">乳
            </label>
            <label>
                <input type="checkbox" name="wheat" value="true">小麦
            </label>
            <lable>
                <input type="checkbox" name="shrimp" value="true">えび
            </lable>
            <label>
                <input type="checkbox" name="crab" value="true">かに
            </label>
            <label>
                <input type="checkbox" name="peanut" value="true">落花生
            </label>
            <label>
                <input type="checkbox" name="buckwheat" value="true">そば
            </label>
        </div>

        <div class="under-cls">
            <img src="../static/chara/苛立ち.png" class="tmg-friends">
            <button type="submit" class="subbutton">登録</button>
        </div>
    </form>


    <div class="back-button-container">
        <button onclick="location.href='{{ url_for('acct_set') }}';" class="back-button">戻る</button>
    </div>

</div>

{% endblock %}