{% extends 'base.html' %}

{% block title %}アレルギー登録完了{% endblock %}

{% block content %}

    <div class="touroku-comp">
        <p class="allergy-p">以下のアレルギーを登録しました:</p>
        <div class="allergy-li">
            <ul class="allergy-l">
                {% for allergy in allergies %}
                    <li>{{ allergy }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    
    <div class="button-sel">
        <button onclick="location.href='{{ url_for('mainmenu') }}';" class="back-menu-button">メニューに戻る</button>
    </div>
{% endblock %}