{% extends 'base.html' %}

{% block title %}アレルギー新規登録{% endblock %}

{% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/acct_set.css') }}">



    <div class="container">
    </div>
    <br><br><br><br>
    <p class="ale">アレルギーの登録</p>

    <form action="{{ url_for('register_allergy') }}" method="POST">
        <input type="hidden" name="account_id" value="{{ account_id }}"> <!-- アカウントIDを隠しフィールドとして追加 -->
        <div class="chkbox">
            <input type="checkbox" name="allergies" value="egg">卵
            <input type="checkbox" name="allergies" value="milk">乳
            <input type="checkbox" name="allergies" value="wheat">小麦
            <input type="checkbox" name="allergies" value="shrimp">えび
            <input type="checkbox" name="allergies" value="crab">かに
            <input type="checkbox" name="allergies" value="peanut">落花生
            <input type="checkbox" name="allergies" value="buckwheat">そば
        </div>

        <div class="under-cls">
            <img src="../static/chara/苛立ち.png" class="tmg-friends">
            <button type="submit" class="subbutton">登録</button>
        </div>
    </form>


    <div class="back-button-container">
        <button onclick="location.href='{{ url_for('acct_set') }}';" class="back-button">戻る</button>
    </div>

{% endblock %}