{% extends 'base.html' %}

{% block title %}アカウント設定{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/psd_change.css') }}">

    <br>
    <p class="p-p">パスワードの変更</p>

    <form action="{{ url_for('change_psd',account_id=account_id) }}" method="post">
        <div class="login-form">
            <input type="password" name="password" class="my-textbox" placeholder="現在のパスワードを入力..." required>
        </div>
        <div class="login-form">
            <input type="password" name="passwordnew" class="my-textbox" placeholder="新しいパスワードを入力..." required>
        </div>
        <div class="login-form">
            <input type="password" name="passwordnew2" class="my-textbox" placeholder="新しいパスワードを入力...(2回目)" required>
        </div>
        <div class="login-form">
            <button id="update-button" type="submit" class="update-button">更新</button>
        </div>
        {% if error_message %}
            <div class="PsdChange-error-message">{{ error_message }}</div>
        {% endif %}
    </form>
    <div class="button-sel">
        <div class="back-button-container">
            <button onclick="location.href='{{ url_for('acct_set') }}';" class="back-button">戻る</button>
        </div>
    </div>
{% endblock %}