<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>アカウント設定</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/psd_change.css') }}">
</head>
<body background="../static/img/background.png" class="kabegami">
    <div class="container">
        <img src="../static/chara/なまたまご.png" class="login_image">
        <img src="../static/img/title.png" class="title">
        <p class="login_name">ログイン中：{{ account_name }} (ID: {{ account_id }})</p>
    </div>

    <p class="p_p">パスワードの変更</p>

    <form action="{{ url_for('psd_change') }}" method="post">
        <div class="login-form">
            <input type="password" name="password" class="my-textbox" placeholder="現在のパスワードを入力..." required>
        </div>
        <div class="login-form">
            <input type="password" name="passwordnew" class="my-textbox" placeholder="新しいパスワードを入力..." required>
        </div>
        <div class="login-form">
            <input type="password" name="passwordnew2" class="my-textbox" placeholder="新しいパスワードを入力...(2回目)" required>
        </div>
        <div class="login-form">
            <button id="update_button" type="submit" class="update_button">更新</button>
        </div>
    </form>

    <div class="button-sel">
        <button onclick="location.href='{{ url_for('mainmenu') }}';" class="back_btn">戻る</button>
    </div>

</body>