{% extends 'base.html' %}

{% block title %}フォトメニュー{% endblock %}

{% block content %}



<div class="container">
        <p>ログイン中：{{ account_name }} (ID: {{ account_id }})</p>
    </div>

    <div class="button-container-photo-menu">
        <button onclick="location.href='{{ url_for('photo_take') }}';" class="cameramenu-btn">カメラで撮影</button>
        <button onclick="location.href='{{ url_for('photo_upload') }}';" class="uploadmenu-btn">撮影の代わりに<br>フォルダからアップロード</button>
    </div> 

    <br><br>


    <div class="back_button_container">
        <button id="back-button" onclick="location.href='{{ url_for('mainmenu') }}';" class="back-button">戻る</button>
    </div>
</body>
</html>
{% endblock %}