<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>メインメニュー</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/photo_upload.css') }}">
</head>
<body background="../static/img/background.png" class="kabegami">
    <div class="container">
        <img src="../static/img/title.png" class="title">
        <p>ログイン中：{{ account_name }}</p>
    </div>

    <div class="button-container">
        <button class="upload_choose">フォルダからごはんを選ぶ</button>
        <br>
        <button class="upload_do">アップロード</button>
    </div> 

    <br><br>

    <script>
    </script>
    <button id="back-button" onclick="location.href='{{ url_for('mainmenu') }}';" class="back-button">戻る</button>
</body>
</html>
