{% extends 'base.html' %}

{% block title %}フォトメニュー{% endblock %}
{% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/photo_menu.css') }}">
    <div class="container">
        <p>ログイン中：{{ account_name }} (ID: {{ account_id }})</p>
    </div>
    
    <div class="main_contents">
    <div class="button-container">
        <button onclick="location.href='{{ url_for('photo_take') }}';" class="cameramenu-btn">カメラで撮影</button>
        <button onclick="location.href='{{ url_for('photo_upload') }}';" class="uploadmenu-btn">撮影の代わりに<br>フォルダからアップロード</button>
    </div>

    <br><br>


    <div class="back_button_container">
        <button id="back-button" onclick="location.href='{{ url_for('mainmenu') }}';" class="back-button">戻る</button>
    </div>
</body>
</html>
{% endblock %}
