<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body background="../static/background.png" class="kabegami">
    <div class="container">
        <img src="../static/title.png" class="title">
    </div>
    <form action="/login" method="post">
        <div class="login-form">
            <input name="account_name" class="my-textbox" placeholder="アカウント名" required>
        </div>
        <br>
        <div class="login-form">
            <input type="password" name="password" class="my-textbox" placeholder="パスワード" required>
        </div>
        <br>
        <div class="login-form">
            <button onclick="location.href='{{ url_for('main_menu') }}';" id="login-button" class="login-button">ログイン</button>
            <!-- <button type="submit" id="login-button" class="login-button">ログイン</button> -->
        </div>
        <br>
        <div class="login-form">
            <a href="{{ url_for('signup') }}" class="start_link">新規登録はこちら</a>
        </div>
    </form>
    <br><br>
    <button id="back-button" onclick="location.href='../top/index.html'" class="back-button">戻る</button>
</body>
</html>
