{% extends 'base.html' %}
{% block title %}運営アカウント確認{% endblock %}
{% block content %}

    
        <div class="master-pad1">
            <h2 class="txt-center">運営用のアカウントでログインしています。</h2>
        </div>
        
        <div class="master-pad2">
            <p class="txt-center">このまま続ける場合ははいボタンを<br>ログアウトする場合はいいえボタンを押下</p>
        </div>

        <div class="MC-button-container">
            <form action="{{ url_for('logout') }}" method="POST" class="MC-form">
                <button type="submit" class="MasCheck-button">いいえ</button>
            </form>
            <form action="{{ url_for('mainmenu') }}" method="GET" class="MC-form">
                <button type="submit" class="MasCheck-button">はい</button>
            </form>
        </div>
{% endblock %}