{% extends 'base.html' %}

{% block title %}運営アカウント確認{% endblock %}

{% block content %}
<div class="main-contents">
    <p class="main-text">運営用のアカウントでログインしています。</p>
    <p class="txt-center">このまま続ける場合ははいボタンを<br>ログアウトする場合はいいえボタンを押下</p>

    <div class="button-container-ninshou">
        <form action="{{ url_for('logout') }}" method="POST" class="MC-form">
            <button type="submit">いいえ</button>
        </form>
        <form action="{{ url_for('mainmenu') }}" method="GET" class="MC-form">
            <button type="submit">はい</button>
        </form>
    </div>
</div>
{% endblock %}