<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>運営アカウント確認</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"> -->
</head>
<body>
    <div class="container">
        <h2>運営用のアカウントでログインしています。</h2>
        <p>このまま続ける場合ははいボタンを、ログアウトする場合はいいえボタンを押下</p>

        <div class="button-container">
            <form action="{{ url_for('mainmenu') }}" method="GET">
                <button type="submit" class="button-yes">はい</button>
            </form>
            <form action="{{ url_for('logout') }}" method="POST">
                <button type="submit" class="button-no">いいえ</button>
            </form>
        </div>
    </div>
</body>
</html>
