{% extends 'base.html' %}

{% block title %}登録成功{% endblock %}

{% block content %}
    <div class="main-contents-ninshou">
            <p class="main-text">新規登録が完了しました</p>
            <div class="login-form">
                <button onclick="location.href='{{ url_for('login') }}';" id="login-button" class="login-button">ログイン</button>
                <!-- <button type="submit" id="login-button" class="login-button">ログイン</button> -->
            </div>
        <div class="back-button-container">
            <button id="back-button" onclick="location.href='{{ url_for('index') }}';" class="back-button">戻る</button>
        </div>
    </div>
{% endblock %}