{% extends 'base.html' %}
{% block title %}登録成功{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <div class="pad"></div>
            <h2 class="txt-center">新規登録が完了しました</h2>
            <div class="login-form">
                <button onclick="location.href='{{ url_for('login') }}';" id="login-button" class="login-button">ログイン</button>
                <!-- <button type="submit" id="login-button" class="login-button">ログイン</button> -->
            </div>
    </form>
    <div class="back-button-container">
        <button id="back-button" onclick="location.href='{{ url_for('index') }}';" class="back-button">戻る</button>
    </div>
{% endblock %}