<!DOCTYPE html>
<html lang="ja">
    <meta charset="UTF-8">
    <title>登録成功</title>
    <link rel="stylesheet" href="../css/login.css">
</html>

<body background="../static/background.png" class="kabegami">
    <div class="container">
        <img src="../static/title.png" class="title">
    </div>

            <h2 class="txt-center">新規登録が完了しました</h2>
            <br>
            <div class="login-form">
                <button onclick="location.href='../ninnsyou/login.html';" id="login-button" class="login-button">ログイン</button>
                <!-- <button type="submit" id="login-button" class="login-button">ログイン</button> -->
            </div>
    </form>
    <br><br>
    <button id="back-button" onclick="location.href='../top/index.html'" class="back-button">戻る</button>
</body>