<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ごはんフレンズ！{% endblock %}</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>

<body background="{{ url_for('static', filename='img/background.png') }}" class="kabegami">
    <header class="clearfix">
        <img src="{{ url_for('static', filename='img/title.png') }}" class="header-logo">
        <nav class="pankuzu">
            {% if breadcrumbs %}
                {% for crumb in breadcrumbs %}
                    <a href="{{ crumb[1] }}">{{ crumb[0] }}</a>
                    {% if not loop.last %} &gt; {% endif %}
                {% endfor %}
            {% endif %}
        </nav>
    </header>
    
    <main>
        <div class="container">
            {% if account_name and account_id %}
                <p>ログイン中：{{ account_name }} (ID: {{ account_id }})</p>
            {% endif %}
        </div>
        
        {% block content %}
        <!-- ここに各ページごとのコンテンツが挿入されます -->
        {% endblock %}
    </main>
</body>
</html>