<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ごはんフレンズ！{% endblock %}</title>
</head>

<body background="{{ url_for('static', filename='img/background.png') }}" class="kabegami">
    <header class="clearfix">
        <img src="{{ url_for('static', filename='img/title.png') }}" class="header_logo">
        <nav>
            {% if breadcrumbs %}
                {% for crumb in breadcrumbs %}
                    <a href="{{ crumb[1] }}">{{ crumb[0] }}</a>
                    {% if not loop.last %} &gt; {% endif %}
                {% endfor %}
            {% endif %}
        </nav>
    </header>
    

    <main>
        {% block content %}
        <!-- ここに各ページごとのコンテンツが挿入されます -->
        {% endblock %}
    </main>
</body>
</html>
