{% extends 'base.html' %}

{% block title %}過去の食事{% endblock %}

{% block content %}
<div class="main-contents">
    <p class="main-text">過去の食事記録</h2>
    <div class="txt-center">
        {% if food_data_list %}
            <ul class="eat-hist-list">
            {% for eat_date, cuisine in food_data_list %}
                <li>Date: {{ eat_date }}, Cuisine: {{ cuisine }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <p>まだ食事記録がありません。</p>
        {% endif %}
    </div>

    <div class="back-button-container">
        <button onclick="location.href='{{ url_for('sugg_menu') }}';" class="back-button">戻る</button>
    </div>
</div>
{% endblock %}
