{% extends 'base.html' %}
{% block title %}提案{% endblock %}
{% block content %}

    <br>
    <h1 class="txt-center">Google Gemini API</h1>
    <h2 class="txt-center">1分間に15回まで、超過した場合はエラー</h2>
    <form action="/generate" method="post">
        <label for="content">ここで入力した内容がGeminiに送られる</label><br>
        <!-- input -->
        <input name="content" id="content" rows="4" cols="50" placeholder="生成する内容を入力"></input><br><br>
        <!-- textarea -->
        <!-- <textarea name="content" id="content" rows="4" cols="50" placeholder="生成する内容を入力"></textarea><br><br> -->
        <input type="submit" value="送信">
    </form>

    {% if result %}
    <p>Geminiから返されたされた内容</p>
    <p>{{ result }}</p>
    {% else %}
    <p>ここにGeminiからの返しが表示される</p>
    {% endif %}
{% endblock %}