{% extends 'base.html' %}

{% block title %}ごはんフレンズ！{% endblock %}

{% block content %}
    <!-- <br><br><br><br> -->
<div class="main-contents">
    <div class="button-container-sugg">
        <button onclick="location.href='{{ url_for('sugg_look') }}';" class="sugg-button">ごはんの提案を見る</button>
        <button onclick="location.href='{{ url_for('sugg_hist') }}';" class="sugg-button">過去の提案を見る</button>
    </div> 
    <!-- <br><br> -->
    <div class="back-button-container">
        <button id="back-button" onclick="location.href='{{ url_for('mainmenu') }}';" class="back-button">戻る</button>
    </div>
</div>
{% endblock %}
