{% extends 'base.html' %}

{% block title %}ごはん提案{% endblock %}

{% block content %}

<div class="main-contents">
    <p class="main-text">Google Gemini API</p>   
    <div class="teian-container2">
        {% if result %}
        <p>Geminiから返された内容</p>
        <p class="teian-result">{{ result }}</p>
        {% else %}
        <p>ここにGeminiからの返しが表示される</p>
        {% endif %}
    </div>

    <div class="back-button-container">
        <button onclick="location.href='{{ url_for('sugg_menu') }}';" class="back-button">戻る</button>
    </div>
</div>

{% endblock %}
